@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&family=Source+Sans+3&display=swap');
/* Reset and base styles  */
* {
    padding: 0;
    margin: 0;
    border: none;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
/* Links */
a:hover  {
    text-decoration: none;
}
/* Common */
aside, nav, footer, header, section, main {
    display: block;
}
h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
    font-weight: inherit;
}
img, svg {
    max-width: 100%;
    display: block;
    height: auto;
    margin: 0 auto;
}
address {
    font-style: normal;
}
button {
    border-radius: 3px;
    color: inherit;
    background-color: transparent;
}
/*------------------------------*/

:root {
    --background-color: #000000;
    --text-color: #FFF;
    --button-bg: #7650F5;
    --border-color: #262626;
    --table-bg: #080808;
    --extra-text: rgba(255, 255, 255, 0.90);

    --text-font-weight: 400;
    --header-font-weight: 600;
    --title-font-weight: 700;

    --mob-text-fs: 16px;
}
body {
    font-family: 'Source Sans 3', sans-serif;
    font-weight: var(--text-font-weight);
    font-size: var(--mob-text-fs);
    color: var(--text-color);
    background: var(--background-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}
button {
    text-transform: uppercase;
    font-weight: var(--header-font-weight);
    border-radius: 10px;
    background: var(--button-bg);
    padding: 16px 24px;
    cursor: pointer;
    border: 1px solid transparent;
}

/*------------------------------HEADER*/
header {
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 5;
    background: var(--background-color);
}
header > div {
    font-weight: var(--header-font-weight);
    max-width: 1300px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header span {
    font-weight: var(--header-font-weight);
    margin-left: 20px;
}
.header-W {
    display: flex;
    margin: 20px;
    align-items: center;
}
.header-W > div:first-child {
    display: flex;
    align-items: center;
}
.svg-it {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33px;
    height: 33px;
}
.open-menu, .close-menu {
    display: block;
    width: 25px;
    height: 25px;
    margin: 5px;
    cursor: pointer;
    background: url("../svg/burger.svg") no-repeat center;
    background-size: contain;
}
.close-menu {
    background: url("../svg/close.svg") no-repeat center;
    background-size: contain;
}
.none-elem {
    display: none;
}
nav {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 88px;
    right: 0;
    width: 100%;
    height: 320px;
    z-index: 5;
    padding-top: 20px;
    background: var(--table-bg);
    align-items: center;
}
nav ul {
    width: 100%;
    display: flex;
    list-style: none;
    margin-top: 50px;
    flex-direction: column;
    align-items: center;
}
nav li {
    width: 80%;
    border-radius: 40px;
    padding: 15px 30px;
    cursor: pointer;
    margin-bottom: 16px;
    text-align: center;
    border: 1px solid transparent;
}
nav li:hover {
    border-color: var(--border-color);
}
.clients {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}
.clients button:last-child {
    background: var(--background-color);
    margin-left: 15px;
    border-color: var(--border-color);
}

/*------------------------------MAIN*/
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
}
.main-blur {
    background: rgba(0, 0, 0, 0.50);
    filter: blur(1px);
    z-index: -1;
}
article, .center-block {
    display: flex;
    flex-direction: column;
    align-items: center;
}
article > div {
    width: 100%;
}
.Post-er {
    padding: 215px 16px;
    background: url("../img/banner.png") no-repeat center;
    background-size: cover;
    width: 100vw;
}
.Post-er > div {
    width: calc(100% - 32px);;
    max-width: 1300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 16px;
}
.Itemss > div {
    padding: 50px;
    margin: 15px 0;
    border-radius: 12px;
    border: 1px solid var(--border-color);
    background: var(--background-color);
}
.Itemss p {
    color: var(--extra-text);
}
.content-box {
    width: calc(100% - 32px);
    overflow: hidden;
    z-index: 2;
}
.content-box > div {
    padding: 30px 16px;
}
.bg1 {
    background: url("../img/bg1.png") no-repeat center;
    background-size: cover;
}
.bg2 {
    background: url("../img/bg2.png") no-repeat center;
    background-size: contain;
}
.split-block {
    width: 100vw;
    height: 300px;
    background: url("../img/sep.png") no-repeat center;
    background-size: cover;
}
figure {
    margin-bottom: 50px;
}
h1, h2, h3, h4 {
    font-family: 'Poppins', sans-serif;
    font-weight: var(--title-font-weight);
    text-align: start;
    margin: 20px 0;
}
h1 {
    font-size: 36px;
    text-align: center;
}
h2 {
    font-size: 24px;
}
h3 {
    font-size: 24px;
}
main ul, ol {
    color: var(--extra-text);
    text-align: start;
    margin: 40px 0 40px 15px;
    padding-left: 30px;
}
li {
    padding: 7px 7px 7px 15px;
}
a {
    color: var(--button-bg);
}
p {
    margin-bottom: 16px;
    text-align: start;
    line-height: 150%;
}
.bg-dot {
    background: url("../img/bg-dot.png") no-repeat center;
    background-size: cover;
}
.center-block p, .center-block h2 {
    text-align: center;
}

/*------------------------------TABLES*/
table {
    color: var(--extra-text);
    width: 100%;
    margin: 16px auto 0;
}
td:not(tr:last-child td):last-child {
    border-bottom: 1px solid var(--text-color);
}
tr:not(tr:first-child) {
    display: grid;
    word-break: break-all;
}
td {
    background: var(--table-bg);
}
tr:first-child td {
    background: var(--background-color);
}
td {
    margin: 0 4px;
    padding: 16px 0;
    text-align: center;
}
tr {
    grid-template-columns: repeat(1, 1fr);
}
.up-button {
    font-size: 20px;
    display: none;
    justify-content: center;
    align-items: center;
    height: 45px;
    width: 45px;
    position: fixed;
    bottom: 70px;
    right: 20px;
    cursor: pointer;
    z-index: 2;
}

/*------------------------------FOOTER*/
footer p {
    opacity: 0.5;
    font-size: 12px;
    margin: 30px 15px;
    text-align: center;
}

@media (min-width: 1150px) {

    .none-elem {
        display: flex;
        align-items: center;
    }

    /*------------------------------HEADER*/
     .svg-it {
        display: none;
     }
     nav {
         height: auto;
         width: auto;
         position: relative;
         background: none;
         flex-direction: row;
         padding: 0;
         top: 0;
     }
     nav ul {
         flex-direction: row;
         margin: 0;
     }
     header span {
         margin-right: 50px;
     }
    nav li {
        width: auto;
        margin-bottom: 0;
    }
     nav span {
         display: none;
     }
    .header-W {
        width: 100%;
        justify-content: space-between;
    }
    .deli-mob {
        display: none;
    }

    /*------------------------------MAIN*/

    article figure {
        margin-bottom: 100px;
    }
    .content-box, .Post-er {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .content-box > div, .Post-er > div {
        max-width: 1300px;
        padding: 60px 16px;
        align-items: flex-start;
    }
    .Post-er {
        padding: 240px 16px;
    }
    .Post-er > div {
        padding: 0;
    }
    .Itemss {
        display: flex;
        justify-content: center;
        margin-top: 30px;
    }
    .Itemss > div {
        width: calc((100% - 25px)/2);
    }
    .Itemss > div:last-child {
        margin-left: 25px;
    }
    h1 {
        width: 40%;
        font-size: 66px;
        text-align: start;
    }
    h2 {
        font-size: 44px;
    }

    /*------------------------------TABLES*/
    tr:first-child {
        display: grid;
        word-break: break-all;
    }
    .t_2 tr {
        grid-template-columns: repeat(2, 1fr);
    }
    .t_3 tr {
        grid-template-columns: repeat(3, 1fr);
    }
    .t_4 tr {
        grid-template-columns: repeat(4, 1fr);
    }
    td:not(tr:last-child td):last-child {
        border-bottom: none;
    }
}

