@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

/* Reset and base styles  */
* {
    padding: 0;
    margin: 0;
    border: none;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
/* Links */
a:hover  {
    text-decoration: none;

}
/* Common */
aside, nav, footer, header, section, main {
    display: block;
}
h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
    font-weight: inherit;
}
img {
    vertical-align: top;
}
img, svg {
    max-width: 100%;
    display: block;
    height: auto;
}
address {
    font-style: normal;
}
button {
    color: inherit;
    background-color: transparent;
}
/*------------------------------*/
:root {
    --background-color: #020003;
    --header-background-color: #363636;
    --text-color: #F7F8FF;
    --table-border-color: #009E7F;
    --button-hover: linear-gradient(93.5deg, #00C79E 7.85%, #00815C 98.78%);

    --text-font-weight: 400;
    --button-font-weight: 500;
    --title-font-weight: 600;
    --logo-font-weight: 700;

    --big-font-size: 16px;
    --normal-font-size: 14px;
    --small-font-size: 12px;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: var(--text-font-weight);
    color: var(--text-color);
    background: var(--background-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.limpid {
    display: none;
}
/*------------------------------HEADER*/
header {
    min-width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: var(--header-background-color);
    z-index: 10;
}
.h-wrap {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.logo-b {
    display: flex;
    align-items: center;
}
header span {
    font-size: var(--big-font-size);
    font-weight: var(--logo-font-weight);
    line-height: 20px;
    text-transform: uppercase;
    padding: 10px 20px;
    background: rgba(144, 144, 144, 0.12);
    margin: 10px;
}
.svg {
    width: 36px;
    height: 30px;
    margin: 10px;
    cursor: pointer;
}
.s-open {
    background: url("../svg/burger.svg") no-repeat center;
}
.s-close {
    background: url("../svg/close.svg") no-repeat center;
}
.nav-n-list {
    min-width: 100%;
    position: fixed;
    top: 60px;
    left: 0;
    background: var(--background-color);
    height: 100%;
    display: flex;
    flex-direction: column;
}
.nav-n-list ul {
    list-style: none;
    margin: 30px 15px;
    text-transform: uppercase;
}
.nav-n-list li {
    font-weight: var(--button-font-weight);
    font-size: var(--big-font-size);
    text-align: start;
    line-height: 32px;
    padding: 15px 10px;
    margin-top: 16px;
    cursor: pointer;
    border-bottom: 1px solid #1C3C35;
}
.nav-n-list::after {
    content: "";
    position: absolute;
    min-width: 340px;
    height: 260px;
    bottom: 50px;
    left: 0;
    background: url("../svg/nav-bg.svg") no-repeat left;
}
.client-w {
    display: flex;
    align-items: center;
}
.client-w button {
    padding: 10px 16px;
    font-size: var(--small-font-size);
    font-weight: var(--logo-font-weight);
    margin: 5px;
    cursor: pointer;
    border-radius: 8px;
    border: 2px solid #00C69D;
    white-space: nowrap;
}
.client-w button:hover {
    background: var(--button-hover);
}

/*------------------------------MAIN*/
main {
    margin: 60px 15px 0 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
}
main > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
figure {
    display: flex;
    flex-direction: column;
    align-items: center;
}
img {
    margin-top: 10px;
    border-radius: 16px;
    margin-bottom: 15px;
}
article {
    position: relative;
}
main::after {
    content: "";
    position: absolute;
    top: -10%;
    left: 0;
    background: url("../svg/article-bg.svg") no-repeat center;
    background-size: contain;
    min-width: 100%;
    height: 50%;
    z-index: -1;
}
h1 {
    font-size: 32px;
    font-weight: var(--title-font-weight);
    text-align: start;
    margin-top: 25px;
    margin-bottom: 20px;
}
h2 {
    font-size: 26px;
    font-weight: var(--title-font-weight);
    text-align: start;
    margin-top: 25px;
    margin-bottom: 20px;
}
h3 {
    font-weight: var(--title-font-weight);
    font-size: 20px;
    text-align: start;
    margin-top: 25px;
    margin-bottom: 20px;
}
main ul, ol {
    text-align: start;
    margin-bottom: 15px;
}
article > ul, ol {
    margin-left: 20px;
}
li {
    padding: 8px;
}
a {
    color: var(--table-border-color);
}
p {
    font-size: var(--normal-font-size);
    margin-bottom: 15px;
    line-height: 24px;
    text-align: start;
}

/*------------------------------TABLES*/
table {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    border-collapse: collapse;
    border-radius: 8px;
    overflow: hidden;
}
tr {
    background: var(--background-color);
}
td {
    font-size: var(--normal-font-size);
    word-wrap: break-word;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid var(--table-border-color);
}
th {
    word-wrap: break-word;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 18px;
    font-weight: var(--title-font-weight);
    background: var(--table-border-color);
}
.one {
    font-weight: var(--title-font-weight);
    background: var(--table-border-color);
}
.big-tabl td {
    width: 25%;
}
.normal-tabl td {
    width: 33%;
}
.small-tabl td {
    width: 50%;
}

.up-w {
    display: none;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    font-size: 25px;
    height: 100px;
    width: 100px;
    position: fixed;
    bottom: 70px;
    right: 30px;
    border-radius: 50%;
    background: rgba(94, 93, 88, 0.55);
}
.up-w:hover {
    background: rgba(0, 158, 127, 0.7);
}

/*------------------------------FOOTER*/
footer {
    background: var(--header-background-color);
    margin-top: 80px;
}
footer p {
    font-size: var(--small-font-size);
    line-height: 15px;
    margin: 30px 15px;
    text-align: center;
}

@media (min-width: 850px) {
    .limpid {
        display: flex;
    }

    /*------------------------------HEADER*/
    header span {
        background: none;
        margin-right: 40px;
    }
    .l-box {
        display: none;
    }
    .nav-n-list {
        min-width: auto;
        background: none;
        position: relative;
        top: 0;
        flex-direction: row;
        align-items: center;
    }
    .nav-n-list ul {
        display: flex;
        flex-direction: row;
        margin: 0;
    }
    .nav-n-list li {
        color: var(--text-color);
        font-size: var(--big-font-size);
        padding: 0;
        margin: 30px 45px;
    }
    .nav-n-list::after {
        content: none;
    }

    /*------------------------------MAIN*/
    main {
        padding-top: 70px;
        margin: 95px 40px 0 40px;
    }
    main::after {
        top: 100px;
    }
    main > div {
        max-width: 1150px;
    }
    h1 {
        font-size: 40px;
    }
    h2 {
        font-size: 32px;
    }
    h3 {
        font-size: 26px;
    }
    p {
        font-size: var(--big-font-size);
    }

    /*------------------------------TABLES*/
    td {
        font-size: var(--big-font-size);
        padding: 15px;
    }
    th {
        padding: 20px;
    }
}

