@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
/* Reset and base styles  */
* {
    padding: 0;
    margin: 0;
    border: none;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
/* Links */
a:hover  {
    text-decoration: none;
}
/* Common */
aside, nav, footer, header, section, main {
    display: block;
}
h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
    font-weight: inherit;
}
img {
    vertical-align: top;
}
img, svg {
    max-width: 100%;
    display: block;
    height: auto;
    margin: 0 auto;
}
address {
    font-style: normal;
}
button {
    color: inherit;
    background-color: transparent;
}
/*------------------------------*/

:root {
    --background-color: #000000;
    --button-hover: #582075;
    --text-color: #FFFFFF;
    --title-color: #41FCB9;
    --table-bg: #282828;
    --table-border: #464646;
    --nav-li-bg: #4A4A4A;

    --text-font-weight: 400;
    --title-font-weight: 700;

    --normal-fs: 16px;
    --table-mob-fs: 14px;
    --table-fs: 18px;
}
body {
    font-family: 'Raleway', sans-serif;
    font-size: var(--normal-fs);
    font-weight: var(--text-font-weight);
    color: var(--text-color);
    background: var(--background-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    overflow-x: hidden;
}
body > div {
    background: url("../img/bg.png") repeat-x;
    background-size: cover;
}
.none-element {
    display: none;
}

/*------------------------------HEADER*/
header {
    width: 100%;
}
header > div {
    width: 100%;
    max-width: 1250px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
header span {
     font-size: 18px;
     margin: 30px;
 }
.logo-types {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--title-color);
}
.logo-types div {
    display: flex;
}
.burger-menu {
    width: 56px;
    height: 56px;
    margin: 15px 20px;
    cursor: pointer;
}
.open-im {
    background: url("../svg/burger.svg") no-repeat;
    background-size: contain;
}
.close-im {
    background: url("../svg/close.svg") no-repeat;
    background-size: contain;
    position: absolute;
    top: 0;
    right: 0;
}
nav {
    min-width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-size: cover;
    width: 100%;
    height: 100%;
    background: var(--background-color);
    background-size: cover;
    background-position-y: 85%;
    display: flex;
    flex-direction: column;
    z-index: 2;
}
nav > div {
    width: 100%;
    height: 100%;
    background: url("../img/nav-bg.png") no-repeat top;
    background-size: cover;
}
nav ul {
    list-style: none;
    margin-top: 100px;
}
nav li {
    font-weight: var(--title-font-weight);
    font-size: var(--table-fs);
    line-height: 32px;
    border-radius: 20px;
    padding: 15px 30px;
    margin: 30px 25px 60px 25px;
    cursor: pointer;
}
nav li:hover {
    background: var(--title-color);
    color: var(--background-color);
}
.LogIn {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}
button {
    width: 250px;
    font-weight: var(--title-font-weight);
    font-size: var(--table-mob-fs);
    padding: 14px 24px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 20px;
    background: var(--title-color);
    color: var(--background-color);
}
.LogIn button:last-child {
    background: var(--text-color);
    color: var(--background-color);
}
.LogIn button:hover {
    color: var(--text-color);
    background: var(--button-hover);
}
.LogIn button:last-child:hover {
    color: var(--background-color);
    background: var(--title-color);
}

/*------------------------------MAIN*/
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 80px;
}
article {
    margin: 0 15px;
    display: flex;
    flex-direction: column;
}
figure {
    display: flex;
    flex-direction: column;
    align-items: center;
}
figure {
    margin-top: 10px;
    margin-bottom: 15px;
}
figure:first-child {
    margin-top: 30px;
    border-radius: 8px;
}
h1, h2, h3, h4 {
    font-weight: var(--title-font-weight);
    color: var(--title-color);
    text-align: start;
    margin-top: 24px;
    margin-bottom: 16px;
}
h1 {
    font-size: 48px;
    line-height: 56px;
}
h2 {
    font-size: 38px;
    line-height: 64px;
}
h3 {
    font-size: 32px;
    line-height: 64px;
}
h4 {
    color: var(--background-color);
    font-size: 24px;
}
main ul, ol {
    text-align: start;
    margin-bottom: 15px;
}
article > ul, ol {
    margin-left: 20px;
}
li {
    padding: 8px;
}
a {
    color: var(--title-color);
    text-decoration: none;
}
p {
    font-weight: var(--text-font-weight);
    margin-bottom: 15px;
    line-height: 34px;
    text-align: start;
}
.center-btn {
    width: 100%;
    display: flex;
    justify-content: center;
}
.center-btn button {
    font-size: 20px;
    font-weight: var(--title-font-weight);
    text-transform: uppercase;
    background: var(--title-color);
    color: var(--background-color);
    border: none;
    padding: 18px 80px;
    width: auto;
}
.fix button {
    display: flex;
    text-transform: none;
    color: var(--background-color);
    background: var(--text-color);
    align-items: center;
    border-radius: 40px;
    padding: 12px 25px;
    font-weight: var(--text-font-weight);
}
.fix span {
    display: block;
    width: 20px;
    height: 20px;
    margin-left: 10px;
    background: url("../svg/btn.svg") no-repeat;
    background-size: cover;
}
.items {
    margin: 24px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.items > div {
    padding: 16px;
    border-radius: 20px;
    background: var(--title-color);
    color: var(--background-color);
    max-width: 560px;
    margin: 8px;
}
.items figure {
    margin: 0;
}
.items span {
    display: block;
    width: 100%;
    font-weight: var(--title-font-weight);
    text-align: end;
    cursor: pointer;
}

    /*------------------------------TABLES*/
table {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: var(--table-mob-fs);
    border: 1px solid var(--table-border);
}
tr {
    flex-wrap: wrap;
    display: flex;
    background: var(--table-bg);
}
tr:not(tr:last-child) {
    border-bottom: 1px solid var(--table-border);
}
tr td:first-child {
    min-width: 100%;
    text-align: center;
    font-weight: var(--title-font-weight);
    font-size: var(--normal-fs);
}
tr:nth-child(2n+2) {
    color: var(--title-color);
}
td {
    position: relative;
    word-wrap: break-word;
    padding: 20px 5px;
    overflow: hidden;
}
td:first-child {
    font-weight: var(--title-font-weight);
}
.four-cccc td {
    width: 33%;
}
.four-ccc td {
    width: 50%;
}
.four-cc td {
    width: 100%;
}
.up-cc {
    display: none;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    font-size: 25px;
    color: #FFFFFF;
    height: 100px;
    width: 100px;
    position: fixed;
    bottom: 85px;
    right: 30px;
    border-radius: 50%;
    background: rgba(94, 93, 88, 0.55);
}
.up-cc:hover {
    color: var(--background-color);
    background: var(--title-color);
}

/*------------------------------FOOTER*/
footer {
    background: var(--table-bg);
}
footer p {
    color: var(--title-color);
    font-size: 12px;
    line-height: 15px;
    padding: 30px 15px;
    text-align: center;
    margin: 0;
}

@media (min-width: 950px) {
    .none-element {
        display: flex;
    }

    /*------------------------------HEADER*/
    header {
        display: flex;
        justify-content: center;
        border-bottom: none;
    }
    header > div {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .nav-igator {
        border-bottom: none;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    header span {
        color: var(--text-color);
        margin: 25px;
        width: auto;
    }
    nav {
        min-width: auto;
        background: none;
        position: relative;
        flex-direction: row;
        align-items: center;
    }
    nav > div {
        background: none;
    }
    nav ul {
        display: flex;
        flex-direction: row;
        margin-top: 0;
    }
    nav li {
        font-weight: var(--text-font-weight);
        color: var(--text-color);
        font-size: var(--normal-fs);
        background: var(--nav-li-bg);
        padding: 6px 25px;
        border-radius: 20px;
        margin: 30px;
    }
    .logo-types {
        display: none;
        border-bottom: none;
    }
    .close-im {
        display: none;
    }
    .LogIn {
        flex-direction: row;
        margin-bottom: 0;
        margin-right: 20px;
    }
    .LogIn button {
        width: 100%;
        margin: 13px 0;
    }
    .LogIn button:last-child {
        margin-left: 15px;
    }

    /*------------------------------MAIN*/
    article {
        max-width: 1250px;
        margin: 0 40px;
    }
    .items {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .items > div {
        width: calc(50% - 16px);
    }

    /*------------------------------TABLES*/
    table {
        font-size: var(--table-fs);
        padding: 0 30px 30px;
        border: none;
    }
    tr {
        justify-content: center;
        margin-bottom: 16px;
        border-bottom: none;
    }
    .four-cccc td {
        width: 25%;
    }
    .four-ccc td {
        width: 33%;
    }
    .four-cc td {
        width: 50%;
    }
    tr td:first-child {
        font-size: var(--table-fs);
        min-width: 25%;
    }
    td:not(td:last-child)::after {
        content: " ";
        width: 1px;
        height: 300%;
        background: var(--table-border);
        position: absolute;
        top: -50px;
        right: 0;
    }

    /*------------------------------FOOTER*/

}

