@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400;600;700&family=Inter&display=swap');
/* Reset and base styles  */
* {
    padding: 0;
    margin: 0;
    border: none;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
/* Links */
a:hover  {
    text-decoration: none;
}
/* Common */
aside, nav, footer, header, section, main {
    display: block;
}
h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
    font-weight: inherit;
}
img, svg {
    max-width: 100%;
    display: block;
    height: auto;
}
address {
    font-style: normal;
}
button {
    border-radius: 3px;
    color: inherit;
    background-color: transparent;
}
/*------------------------------*/

:root {
    --background-color: #435645;
    --button-background: #EEF214;
    --text-color: #CFCFCF;
    --title-color: #F7F7FB;
    --header-color: #0B081C;
    --table-bg: rgba(255, 255, 255, 0.2);
    --table-extra-bg: rgba(255, 255, 255, 0.3);

    --text-font-weight: 400;
    --title-font-weight: 600;
    --chapter-font-weight: 700;

    --normal-font-size: 16px;
    --table-font-size: 13px;
}
body {
    font-family: 'Baloo Bhai 2', cursive;
    font-weight: var(--text-font-weight);
    font-size: var(--normal-font-size);
    color: var(--text-color);
    background: var(--background-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.inv {
    display: none;
}
button {
    font-family: 'Baloo Bhai 2', cursive;
    font-weight: var(--text-font-weight);
    font-size: var(--normal-font-size);
}
/*------------------------------HEADER*/
header {
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--header-color);
    z-index: 5;
}
header > div {
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header span {
    font-family: 'Inter', sans-serif;
    color: var(--button-background);
    margin: 20px;
    font-size: 30px;
 }
.burger {
    width: 30px;
    height: 22px;
    margin: 20px;
    cursor: pointer;
}
.open2 {
    background: url("../svg/vector1.svg") repeat-y;
}
.close2 {
    background: url("../svg/vector1.svg") repeat-y;
    transform: rotate(180deg);
    margin-bottom: 30px;
}
nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-width: 100%;
    position: fixed;
    top: 75px;
    left: 0;
    background-size: cover;
    width: 100%;
    height: 50%;
    z-index: 5;
    background: var(--header-color);
}
nav ul {
    list-style: none;
    min-width: 90%;
    margin-top: 70px;
}
nav li {
    color: var(--button-background);
    padding: 15px 30px;
    border-bottom: 1px solid var(--title-color);
    background: rgba(238, 242, 20, 0.15);
    cursor: pointer;
}
.person {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}
.person button {
    font-size: var(--normal-font-size);
    padding: 12px 24px;
    cursor: pointer;
    border: 1px solid var(--header-color);
}
.person button:last-child {
    margin-left: 20px;
    border: 1px solid var(--button-background);
}
.person button:hover {
    border: 1px solid var(--button-background);
}
.person button:last-child:hover {
    background: #FFE81B;
    color: var(--header-color);
}

/*------------------------------MAIN*/
.main-b {
    max-width: 1200px;
    background: var(--background-color);
    padding-bottom: 80px;
    margin: 0 15px;
}
main {
    background: url("../img/bg.png");
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 130px;
}
.main-blur {
    background: rgba(0, 0, 0, 0.50);
    filter: blur(1px);
    z-index: -1;
}
article {
    margin: 0 15px;
    display: flex;
    flex-direction: column;
}
img {
    margin: 30px 0;
}
.post-2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}
.post-2 > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 15px;
}
.post-2 button {
    margin-top: 20px;
    padding: 10px 20px;
    border: 1px solid var(--text-color);
}
.post-2 button:hover {
    color: var(--button-background);
    border: 1px solid var(--button-background);
}
figure {
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1 {
    color: var(--button-background);
    font-size: 36px;
    font-weight: var(--title-font-weight);
    text-align: start;
    margin-top: 25px;
    margin-bottom: 15px;
}
h2 {
    color: var(--title-color);
    font-size: 24px;
    font-weight: var(--title-font-weight);
    text-align: start;
    margin: 10px 0;
}
h3 {
    color: var(--title-color);
    font-weight: var(--title-font-weight);
    font-size: 20px;
    text-align: start;
    margin: 10px 0;
}
.title-box {
    display: flex;
    margin: 25px 0;
}
.title-box > div {
    margin-right: 15px;
    width: 15px;
    border: 1px solid var(--title-color);
}
main ul, ol {
    text-align: start;
    margin-bottom: 50px;
}
article > ul, ol {
    padding-left: 30px;
}
ol {
    padding-left: 5px;
    list-style-type: none;
    counter-reset: ol-nambers;
}
ol li {
    position: relative;
    padding: 7px 7px 7px 25px;
}
ol li::before {
    background: var(--button-background);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 16px;
    counter-increment: ol-nambers;
    content: counter(ol-nambers) '.';
    position: absolute;
    top: 0;
    left: 0;
    padding: 7px;
    text-align: right;
}
li {
    padding: 7px;
}
a {
    text-decoration: none;
    color: var(--button-background);
}
p {
    margin-bottom: 12px;
    line-height: 24px;
    text-align: start;
}
article button {
    display: flex;
    padding: 12px 20px;
    color: var(--button-background);
    font-weight: var(--title-font-weight);
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
}
article ul, ol {
    width: 98%;
    border: 1px solid var(--text-color);
}
article ul li {
    display: list-item;
    list-style-image: url("../svg/cube.svg");
    padding-inline-start: 1ch;
}

/*------------------------------CARDS*/
.cutaways {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 30px;
}
.cutaway {
    width: 48%;
    position: relative;
    z-index: 2;
}
.cutaway img {

}
.cutaway:nth-child(2n+1) {
    margin-right: 10px;
}
.cutaway::before {
    width: 125px;
    content: "Blazing Star";
    color: var(--header-color);
    background: var(--button-background);
    position: absolute;
    left: calc(100%/2 - 62px);
    bottom: 20px;
    border-radius: 3px;
    padding: 5px 15px;
    cursor: pointer;
}
.cutaway img {
    margin: 5px 0;
 }

/*------------------------------TABLES*/
table {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 50px;
    padding: 0 15px 15px 15px;
    border-collapse: collapse;
    border: 5px double var(--text-color);
}
th {
    word-wrap: break-word;
    flex-wrap: wrap;
    padding: 5px;
    color: var(--header-color);
}
tbody tr:first-child {
    background: var(--button-background);
}
tr {
    display: flex;
    flex-wrap: wrap;
    background: var(--table-bg);
    padding: 15px;
}
td {
    word-wrap: break-word;
    padding: 5px;
}
tr:nth-child(2n+3) {
    background: var(--table-extra-bg);
}
.four-col td {
    width: 25%;
}
.three-col td {
    width: 33%;
}
.two-col td {
    width: 50%;
}
.four-col th {
    width: 25%;
}
.three-col th {
    width: 33%;
}
.two-col th {
    width: 50%;
}
.up-1 {
    background: var(--background-color);
    display: none;
    justify-content: center;
    align-items: center;
    height: 45px;
    width: 45px;
    position: fixed;
    bottom: 70px;
    right: 30px;
    border: 2px solid var(--text-color);
    cursor: pointer;
}
.up-1 span {
    width: 27px;
    height: 27px;
    background: url("../svg/up.svg") center no-repeat;
}
.up-1:hover {
    background: rgba(238, 242, 20, 0.10);
}
.accord {
    background-color: var(--button-background);
    color: var(--header-color);
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    transition: 0.4s;
    margin-bottom: 5px;
    border-radius: 3px;
}
h3.accord::after {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    content: '';
    background: url("../svg/plus.svg") no-repeat;
    background-size: cover;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}
h3.minus::after {
    background: url("../svg/minus.svg") no-repeat;
    background-size: cover;
}
.window {
    position: relative;
    padding: 20px 25px;
    display: none;
    overflow: hidden;
    border: 1px solid var(--text-color);
    border-radius: 3px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.window h3 {
    color: var(--button-background);
}
.window ol {
    border: none;
}

/*------------------------------FOOTER*/
footer {
    background: var(--header-color);
    box-shadow: 0 -2px 15px 0 rgba(0, 0, 0, 0.15);
}
footer p {
    margin: 30px 15px;
    text-align: center;
}

@media (min-width: 1085px) {
    .inv {
        display: flex;
        align-items: center;
    }

    /*------------------------------HEADER*/
    .navigator-1 ul {
        display: flex;
        flex-direction: row;
        margin-top: 0;
    }
     .burger {
        display: none;
    }
    nav {
        flex-direction: row;
        justify-content: center;
        min-width: 50%;
        position: relative;
        top: 0;
    }
    nav ul {
        display: flex;
        min-width: auto;
        margin-top: 0;
    }
    nav li {
        color: var(--text-color);
        padding: 15px 30px;
        border: none;
        background: none;
    }

    /*------------------------------MAIN*/
    main {
        padding-top: 75px;
    }
    article {
        margin: 0 40px;
    }
    .post-2 {
        flex-direction: row;
    }
    .post-2 figure {
        min-width: 50%;
        margin-left: 15px;
    }
    main ul, ol {
        margin-bottom: 70px;
    }
    h1 {
        font-weight: var(--chapter-font-weight);
        line-height: 75px;
        font-size: 64px;
    }
    h2 {
        font-size: 32px;
    }

    /*------------------------------CARDS*/
    .cutaway {
        width: 30%;
        margin-right: 10px;
    }

    /*------------------------------TABLES*/
    table {
        padding: 0 30px 30px;
        margin-bottom: 70px;
    }
    tr:not(:first-child) {
        padding: 0;
        justify-content: center;
    }
    td {
        padding: 20px;
    }
}

