@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
* {
    padding: 0;
    margin: 0;
    border: none;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
/* Links */
a:hover  {
    text-decoration: none;
}
/* Common */
aside, nav, footer, header, section, main {
    display: block;
}
h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
    font-weight: inherit;
}
img, svg {
    width: 100%;
    max-width: 100%;
    display: block;
    height: auto;
    margin: 0 auto;
}
address {
    font-style: normal;
}
button {
    color: inherit;
    background-color: transparent;
}
/*------------------------------*/

:root {
    --background-color: #F5F5F5;
    --extra-bg-color: #FFFFFF;
    --footer-color: #A5B2BF;
    --text-color: #212B36;
    --btn-color: #4A2C83;

    --text-font-weight: 400;
    --title-font-weight: 600;

    --mob-table-fs: 12px;
    --anchor-fs: 14px;
    --mob-fs: 16px;
    --normal-fs: 18px;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-weight: var(--text-font-weight);
    font-size: var(--mob-fs);
    color: var(--text-color);
    background: var(--background-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hid-den {
    display: none;
}
figure {
    width: 100%;
}
/*------------------------------HEADER*/
header {
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 5;
}
.head-wr {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1290px;
    background: var(--background-color);
    padding: 12px 20px;
}
header span {
    margin: 15px 25px;
    padding-left: 35px;
    font-size: 20px;
    font-weight: var(--title-font-weight);
    position: relative;
 }
header span::before {
    content: "";
    width: 24px;
    height: 24px;
    position: absolute;
    top: 0;
    left: 0;
    background: url("../svg/logo-el.svg") no-repeat center;
    background-size: cover;
}
.burger-ite-m {
    width: 38px;
    height: 38px;
    cursor: pointer;
    border-radius: 50%;
    background: var(--btn-color);
}
.open-i {
    background: url("../svg/burger.svg") no-repeat center;
}
.close-i {
    background: url("../svg/close.svg") no-repeat center;
}
nav {
    width: 250px;
    max-height: 450px;
    position: absolute;
    top: 110px;
    right: 20px;
    background: var(--background-color);
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    z-index: 5;
    padding: 20px;
    border-radius: 20px;
}
nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
    list-style-type: none;
}
nav li {
    width: 100%;
    position: relative;
    display: flex;
    font-size: var(--normal-fs);
    list-style-type: none;
    align-items: start;
    padding: 10px 20px 10px 30px;
    border-radius: 50px;
    cursor: pointer;
    margin-bottom: 12px;
    background: var(--extra-bg-color);
}
nav li::before {
    position: absolute;
    left: 10px;
    content: url("../svg/ellipse.svg");
    background-size: 1rem 1rem;
}
nav li:hover::before {
    content: url("../svg/ellipse-hover.svg");
    background-size: 1rem 1rem;
}
button {
    color: var(--background-color);
    width: 200px;
    display: flex;
    justify-content: center;
    font-weight: var(--title-font-weight);
    font-size: var(--normal-fs);
    background: var(--btn-color);
    padding: 15px 36px;
    cursor: pointer;
    border-radius: 50px;
}
.client-box button:first-child {
    color: var(--btn-color);
    margin-right: 10px;
    background: var(--extra-bg-color);
    margin-bottom: 10px;
}

/*------------------------------MAIN*/
main {
    max-width: 1290px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 50px;
}
.poster-main {
    margin-bottom: 24px;
}
.poster-main, .poster-main img {
    border-radius: 20px;
    background: var(--background-color);
}
.poster-main figure {
    margin: 0;
}
.poster-main > div {
    padding: 16px 12px;
}
article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0 16px;
    padding: 16px;
    border-radius: 30px;
    background: var(--extra-bg-color);
}
.main-blur {
    background: rgba(0, 0, 0, 0.50);
    filter: blur(1px);
}
figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 15px;
}
h1, h2, h3 {
    font-weight: var(--title-font-weight);
    text-align: start;
    margin: 16px 0;
}
h1 {
    font-size: 22px;
}
h2 {
    font-size: 20px;
}
h3 {
    font-size: 18px;
}
main ul:not(.ex-list ul), ol {
    width: 100%;
    text-align: start;
    padding: 10px 20px;
    margin-bottom: 20px;
}
main ul li:not(.ex-list li) {
    list-style-type: none;
    padding-left: 25px;
    margin-bottom: 10px;
    position: relative;
}
main ul li:not(.ex-list li)::before {
    content: url("../svg/ellipse-hover.svg");
    position: absolute;
    left: 0;
}
ol {
    list-style-type: none;
    counter-reset: ol-nambers;
}
ol li {
    position: relative;
    padding: 7px 7px 7px 35px;
    margin-bottom: 7px;
}
ol li::before {
    font-weight: var(--title-font-weight);
    color: var(--btn-color);
    background: var(--background-color);
    font-size: 16px;
    counter-increment: ol-nambers;
    content: counter(ol-nambers) '.';
    position: absolute;
    top: 0;
    left: -10px;
    padding: 8px 12px;
    border-radius: 50%;
}
li {
    padding: 5px 0 5px 10px;
}
.ex-list {
    width: 100%;
    margin-bottom: 30px;
}
.ex-list ul {
    width: 100%;
    list-style-type: none;
    background: var(--extra-bg-color);
    font-size: var(--anchor-fs);
}
.ex-list li {
    cursor: pointer;
}
.ex-list li:hover {
    color: var(--btn-color);
}
.ex-list span {
    display: block;
    margin-bottom: 12px;
    font-weight: var(--title-font-weight);
}
a {
    text-decoration: none;
    color: var(--btn-color);
}
p {
    margin: 12px 0;
    line-height: 24px;
    text-align: start;
}
p span, li span {
    font-weight: var(--title-font-weight);
}
img {
    border-radius: 10px;
}

/*------------------------------TABLES*/
table {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 50px;
    border-collapse: collapse;
    background: var(--btn-color);
    font-size: var(--mob-table-fs);
    border-radius: 20px;
}
tbody tr {
    border-radius: 17px;
    background: var(--background-color);
    margin: 5px;
    padding: 12px;
}
th {
    padding: 20px;
    color: var(--background-color);
}
td, th {
    display: flex;
    justify-content: center;
    font-weight: var(--text-font-weight);
    align-items: center;
    text-align: center;
}
.col-t2 tr {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.col-t2 th, .col-t2 td {
    width: 50%;
}
.col-t3 td:first-child {
    width: 100%;
    margin-bottom: 25px;
    font-weight: var(--title-font-weight);
    font-size: var(--anchor-fs);
    justify-content: center;
}
.col-t3 tr, .col-4 tr {
    display: block;
    word-wrap: break-word;
}
.col-t3 thead, .col-4 thead {
    display: none;
}
.col-t3 td::before, .col-4 td::before {
    display: flex;
    content: attr(data-label);
    margin-right: 20px;
    text-align: start;
}
.col-4 td, .col-4 th, .col-t3 td, .col-t3 th {
    justify-content: space-between;
    text-align: end;
}
.button-up {
    padding: 0;
    display: none;
    justify-content: center;
    align-items: center;
    height: 45px;
    width: 45px;
    position: fixed;
    bottom: 70px;
    right: 30px;
    background: var(--background-color);
    cursor: pointer;
    border-radius: 4px;
    background: #F2F2F2;
    border: none;
    box-shadow: 0 6px 24px 0 rgba(0, 0, 0, 0.09);
}
.button-up span {
    width: 27px;
    height: 27px;
    background: url("../svg/up.svg") center no-repeat;
}
.button-up:hover {
    background: var(--btn-color);
}

/*------------------------------FOOTER*/
footer {
    max-width: 1190px;
    font-size: 12px;
    width: 100%;
    background: var(--extra-bg-color);
    border-radius: 50px 50px 0 0;
}
footer p {
    color: var(--footer-color);
    margin: 30px 15px;
    text-align: center;
}

@media (min-width: 1000px) {
    body {
        font-size: var(--normal-fs);
    }
    .hid-den {
        display: flex;
        align-items: center;
    }
    .mob-i {
        display: none;
    }

    /*------------------------------HEADER*/
    .head-wr {
        justify-content: center;
    }
    header span {
        font-size: 30px;
        padding-left: 50px;
    }
    header span::before {
        width: 34px;
        height: 34px;
    }
    .burger-ite-m {
        display: none;
    }
    nav {
        min-width: 100%;
        height: auto;
        position: relative;
        top: 0;
        background: none;
        justify-content: space-between;
        flex-direction: row;
        padding-top: 0;
        border-radius: 0;
    }
    nav ul {
        flex-direction: row;
        margin: 0;
    }
    nav li {
        font-size: var(--mob-fs);
        white-space: nowrap;
        margin: 5px;
    }
    .client-box {
        display: flex;
        align-items: center;
        flex-direction: row;
        margin-left: 20px;
    }
    .client-box button:first-child {
        margin-bottom: 0;
    }
    button {
        width: auto;
        font-size: var(--mob-fs);
        margin-bottom: 0;
        margin-right: 10px;
    }

    /*------------------------------MAIN*/
    main {
        padding-top: 110px;
    }
    article {
        margin: 0 50px;
        padding: 30px;
        border-radius: 50px;
    }
    .poster-main {
        display: flex;
        align-items: center;
        margin-bottom: 50px;
    }
    .poster-main > div, .poster-main figure {
        width: 50%;
    }
    .poster-main > div {
        margin-left: 30px;
    }
    .ex-list ul {
        position: relative;
        font-size: var(--normal-fs);
    }
    ol li {
        padding: 10px 7px 10px 40px;
        margin-bottom: 0;
    }
    ol li::before {
        top: 4px;
    }
    h1 {
        font-size: 48px;
    }
    h2 {
        font-size: 32px;
    }
    h3 {
        font-size: 24px;
    }

    /*------------------------------TABLES*/
    table {
        font-size: var(--mob-fs);
        margin-bottom: 70px;
    }
    th {
        font-size: var(--anchor-fs);
    }
    thead tr {
        width: 100%;
    }
    tbody tr {
        padding: 0;
        margin-top: 0;
    }
    tr, td, th, .col-t3 thead, .col-t3 tr, .col-4 thead, .col-4 tr {
        display: flex;
    }
    td, th, .col-t3 td, .col-t3 th, .col-4 td, .col-4 th {
        padding: 20px;
        justify-content: center;
        text-align: center;
    }
    tr:not(:first-child) {
        padding: 0;
        justify-content: center;
    }
    .col-t3 td, .col-t3 th {
        width: 33%;
    }
    .col-t3 td:first-child {
        font-size: var(--mob-fs);
        font-weight: var(--text-font-weight);
        width: 33%;
        margin: 0;
    }
    .col-t3 td::before, .col-4 td::before {
        content: none;
    }
    .col-4 td, .col-4 th {
        width: 25%;
    }
}

