@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
/* Reset and base styles  */
* {
    padding: 0;
    margin: 0;
    border: none;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
/* Common */
aside, nav, footer, header, section, main {
    display: block;
}
h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
    font-weight: inherit;
}
img {
    vertical-align: top;
}
img, svg {
    max-width: 100%;
    height: auto;
}
address {
    font-style: normal;
}
/* Form */
input, textarea, button, select {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}
input::-ms-clear {
    display: none;
}
button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background: none;
    cursor: pointer;
}
input:focus, input:active,
button:focus, button:active {
    outline: none;
}
button::-moz-focus-inner {
    padding: 0;
    border: 0;
}
label {
    cursor: pointer;
}
legend {
    display: block;
}
/*------------------------------*/
:root {
    --background-color: #202136;
    --background-color2: #27273F;
    --nav-li: #CFCFFF;
    --text-color: #E6E6E6;
    --title-color: #FFF;
    --btn-bg: #CF2029;
    --hover-btn: #F63E47;
    --table-title: #3C3C60;
    --extra-color:#141C29;
    --shadow: 0 0 16px 0 rgba(0, 0, 0, 0.25);

    --text-font-weight: 400;
    --accordion-font-weight: 500;
    --title-font-weight: 700;

    --big-font-size: 18px;
    --normal-font-size: 17px;
    --small-font-size: 14px;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: var(--normal-font-size);
    font-weight: var(--text-font-weight);
    color: var(--text-color);
    background: var(--background-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    position: sticky;
    overflow-x:hidden;
}
button:not(.one-btn) {
    color: var(--title-color);
    font-size: var(--big-font-size);
    white-space: nowrap;
    background: var(--btn-bg);
    font-weight: var(--title-font-weight);
    cursor: pointer;
    padding: 13px 30px;
    margin: 12px 8px;
    border-radius: 32px;
    box-shadow: 0 0 32px 0 var(--btn-bg);
}
button:not(.one-btn):hover {
    background: var(--hover-btn);
    box-shadow: 0 0 32px 0 var(--hover-btn);
}
/*------------------------------HEADER*/
header {
    display: flex;
    align-items: center;
    justify-content: center;
}
.header, .registrUser, .navig {
    display: flex;
    align-items: center;
}
.header {
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1150px;
}
nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: var(--background-color);
    width: 103%;
    height: 100%;
    position: absolute;
    top: 95px;
    left: 0;
    text-transform: uppercase;
    z-index: 5;
}
nav div {
    display: flex;
    width: 100%;
    justify-content: center;
    background: var(--extra-color);
}
header span, footer span {
    color: var(--title-color);
    display: block;
    position: relative;
    font-size: 32px;
    font-weight: var(--title-font-weight);
    padding-left: 55px;
    margin-left: 10px;
}
header span::before, footer span::before {
    position: absolute;
    content: url("../img/logo.png");
    left: -20px;
    top: -15px;
}
.svg-im > div {
    align-items: center;
    justify-content: center;
    width: 46px;
    height: 46px;
    border-radius: 10px;
    margin: 25px 15px;
    cursor: pointer;
    padding: 10px;
    background: var(--btn-bg);
    box-shadow: 0 0 32px 0 var(--btn-bg);
}
.svg-im > div > div {
    width: 40px;
    height: 40px;
}
.svg-im > div:first-child {
    display: flex;
}
.svg-im > div:hover {
    background: var(--hover-btn);
    box-shadow: 0 0 32px 0 var(--hover-btn);
}
.op-m {
    background: url("../svg/burger.svg") no-repeat center;
    background-size: cover;
}
.cl-m {
    background: url("../svg/close.svg") no-repeat center;
    background-size: contain;
}
nav ul, footer ul {
    text-align: left;
    list-style: none;
    margin-left: 60px;
    margin-top: 20px;
}
nav li {
    text-transform: uppercase;
    margin: 30px 0;
    cursor: pointer;
}
nav li:hover, footer li:hover {
    color: var(--hover-btn);
}
.registrUser-singIn button:not(button:first-child:hover):first-child {
    background: none;
    box-shadow: none;
}
.n0ne {
    display: none;
}
/*!*------------------------------MAIN*!*/
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
    padding-bottom: 30px;
}
main nav {
    display: none;
}
article {
    width: calc(100% - 32px);
    margin-top: 30px;
    max-width: 1150px;
    position: relative;
}
article button {
    color: var(--background-color);
}
h1, h2, h3, h4 {
    font-weight: var(--title-font-weight);
    line-height: 100%;
    text-align: left;
    margin: 40px 0 24px 0;
}
h1 {
    font-size: 36px;
    margin: 40px 0;
}
h2, h3 span {
    font-size: 32px;
}
h3 {
    line-height: 130%;
    font-size: 24px;
}
img {
    border-radius: 9px;
}
.label-one {
    width: 90%;
    position: relative;
    margin: 20px 10px;
    display: inline-block;
}
select {
    min-width: 100%;
    background: var(--background-color2);
    padding: 16px;
    font-weight: var(--accordion-font-weight);
    font-size: 20px;
    line-height: 28px;
    z-index: -10;
    box-shadow: var(--shadow);
    border-radius: 32px;
}
option {
    padding: 16px;
}
.it-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.it-cards > div {
    width: 100%;
    border-radius: 16px;
    background: var(--background-color2);
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.50);
    padding: 18px;
    height: 170px;
    margin: 30px;
}
.it-cards > div > div {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    z-index: 2;
}
.it-cards > div:first-child > div::after,
.it-cards > div:nth-child(2) > div::after,
.it-cards > div:last-child > div::after {
    content: url("../img/img1.png");
    position: absolute;
    bottom: -30px;
    right: -18px;
    z-index: -1;
}
.it-cards > div:nth-child(2) > div::after {
    content: url("../img/img2.png");
}
.it-cards > div:last-child > div::after {
    content: url("../img/img3.png");
}
.it-cards h3 {
    width: 80%;
    margin: 0;
}
.it-cards button {
    margin: 0;
}
.separate-block {
    border-radius: 16px;
    background: url("../img/img.jpg") center;
    background-size: cover;
    height: 300px;
}
.separate-block > div {
    display: flex;
    flex-direction: column;
    width: 230px;
    align-items: flex-start;
    height: 100%;
    justify-content: flex-end;
    margin-left: 10%;
    padding-bottom: 10%;
}
p {
    font-size: var(--normal-font-size);
    line-height: 200%;
    text-align: start;
    margin-bottom: 24px;
}
a {
    text-decoration: none;
    color: var(--btn-bg);
}
main ul, ol {
    margin-bottom: 24px;
}
main ul, ol li {
    text-align: left;
    margin-left: 30px;
    padding: 5px;
}
ol li {
    margin-left: 10px;
}
main ul li {
    padding: 5px;
}
.accordioN {
    background: var(--background-color2);
    border-radius: 32px;
    margin-bottom: 16px;
    box-shadow: var(--shadow);
}
.title-ac {
    font-size: var(--big-font-size);
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 90%;
    font-weight: var(--accordion-font-weight);
    cursor: pointer;
    padding: 18px;
    text-align: left;
    transition: 0.4s;
    margin-bottom: 5px;
    border-radius: 3px;
}
span.title-ac::after {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    content: '';
    background: url("../svg/arrow-open.svg") no-repeat;
    background-size: contain;
    float: right;
    margin-left: 5px;
}
span.minus::after {
    transform: rotate(180deg);
}
.ac-text {
    position: relative;
    padding: 20px 25px;
    display: none;
    overflow: hidden;
    margin-bottom: 10px;
    margin-top: 10px;
    font-weight: var(--text-font-weight);
}

/*!*------------------------------TABLES*!*/
table {
    min-width: 100%;
    max-width: 1000px;
    margin: 70px 0;
    border-collapse: collapse;
    box-shadow: 0 0 32px 0 rgba(0, 0, 0, 0.50);
}
tbody {
    display: flex;
    flex-direction: column;
    border-collapse: collapse;
}
tr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    background: var(--background-color2);
    border-bottom: 1px solid #E6E6E6;
}
tr:first-child {
    border-radius: 16px 16px 0 0;
}
tr:last-child {
    border-radius: 0 0 16px 16px;
}
.four-4t tr:first-child {
    background: var(--table-title);
}
th {
    position: relative;
    height: auto;
    font-size: 16px;
    line-height: 26px;
    min-width: 25%;
    word-break: break-all;
    padding: 12px 10px;
    margin: 0;
    background: #606060;
    text-align: left;
}
th:not(th:first-child)::before {
    content: " ";
    width: 1px;
    height: 300%;
    background: var(--background-color);
    position: absolute;
    top: -50px;
    left: 0;
}
td {
    position: relative;
    word-wrap: break-word;
    width: 100%;
    padding: 15px 10px;
    word-break: break-all;
    text-align: left;
}
td:not(td:first-child)::before {
    content: " ";
    width: 1px;
    height: 300%;
    background: var(--background-color);
    position: absolute;
    top: -50px;
    left: 0;
}
.tab2 td:first-child {
    width: 40%;
    font-weight: var(--title-font-weight);
}
.one-btn {
    display: none;
    justify-content: center;
    height: 40px;
    width: 40px;
    position: fixed;
    background: url("../svg/up.svg") no-repeat center;
    background-size: cover;
    bottom: 50px;
    right: 30px;
    z-index: 2;
}
.one-btn:hover {
    background: url("../svg/up-h.svg") no-repeat center;
    background-size: cover;
}
table:first-child {
    position: relative;
}

    /*!*------------------------------FOOTER*!*/
footer {
    background: var(--background-color2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer div {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1150px;
}
footer ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-left: 0;
    cursor: pointer;
}
footer li {
    margin: 20px;
}
footer span {
    width: fit-content;
    margin: 20px;
    cursor: pointer;
}
footer p {
    color: #85827F;
    font-size: var(--small-font-size);
    text-align: center;
    margin-top: 50px;
}
@media (min-width: 1150px) {
    .n0ne {
        display: flex;
    }
    button {
        margin: 20px 8px;
    }

/*    !*------------------------------HEADER*!*/

    .registrUser-singIn {
        display: flex;
    }
    nav {
        display: flex !important;
        position: relative;
        background: none;
        top: 0;
        margin-left: 50px;
    }
    nav div {
        display: none;
    }
    nav ul {
        display: flex;
        margin: 0;
    }
    nav li {
        color: var(--nav-li);
        font-weight: var(--title-font-weight);
        margin: 12px;
    }
    .svg-im {
        display: none;
    }
    .mob {
        display: none;
    }

    /*    !*------------------------------MAIN*!*/
    .main-wrap {
        position: relative;
        margin: 0 16px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .it-cards {
        flex-direction: row;
    }
    .it-cards > div {
        width: calc((100% - 30px)/3);
        padding: 25px 20px;
        height: 210px;
        margin: 0;
    }
    .it-cards > div:nth-child(2) {
        margin: 0 15px;
    }
    .label-one {
        width: 420px;
        display: block;
        float:left;
        margin: 20px;
    }
    main ul, ol {
        margin-left: 20px;
    }
    .separate-block > div {
        padding-bottom: 5%;
    }

/*    !*------------------------------TABLES*!*/
    table {
        padding: 50px 0 20px 0;
    }
    .four-4t, .separate-block {
        position: relative;
    }
    .four-4t::after, .four-4t::before,
    .separate-block::after, .separate-block::before,
    footer > div::after, footer > div::before {
        content: "";
        background: url("../img/ellipse.png") center;
        background-size: cover;
        position: absolute;
        z-index: -1;
        width: 256px;
        height: 256px;
    }
    .four-4t::before {
        top: -155%;
        left: -12%;
    }
    .four-4t::after {
        width: 360px;
        height: 360px;
        bottom: -50%;
        right: -10%;
    }
    .separate-block::before {
        width: 150px;
        height: 150px;
        top: -135%;
        left: -12%;
    }
    .separate-block::after {
        width: 130px;
        height: 130px;
        bottom: -50%;
        right: -5%;
    }
    footer > div::before {
        width: 60px;
        height: 60px;
        top: -35%;
        left: 35%;
    }
    footer > div::after {
        height: 35px;
        width: 35px;
        top: 40%;
        left: 42%;
    }

    /*    !*------------------------------FOOTER*!*/
    footer > div {
        position: relative;
        flex-wrap: nowrap;
        justify-content: space-between;
        z-index: 2;
    }
}

