@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

/* Reset and base styles  */
* {
    padding: 0;
    margin: 0;
    border: none;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
/* Links */
a:hover  {
    text-decoration: none;
}
/* Common */
aside, nav, footer, header, section, main {
    display: block;
}
h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
    font-weight: inherit;
}
img {
    vertical-align: top;
}
img, svg {
    max-width: 100%;
    display: block;
    height: auto;
}
address {
    font-style: normal;
}
button {
    color: inherit;
    background-color: transparent;
}
/*------------------------------*/
:root {
    --background-color: #000000;
    --header-background: #1D2738;
    --footer-background: #100F0F;
    --table-background: #182D4C;
    --button-hover-background: #D9113A;
    --anchor-color: #959CA8;
    --anchor-hover-background: #2F589D;
    --text-color: #FFFFFF;
    --border-color: #394861;
    --link-color: #C7ADE8;

    --text-font-weight: 400;
    --button-font-weight: 600;
    --title-font-weight: 700;

    --normal-font-size: 16px;
    --small-font-size: 14px;
    --big-font-size: 18px;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: var(--text-font-weight);
    color: var(--text-color);
    background: var(--background-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.invisible-unit {
    display: none;
}

/*------------------------------HEADER*/
.head-unit {
    background: var(--header-background);
    display: flex;
    flex-direction: column;
    text-align: center;
}
.head-unit span {
    color: var(--button-hover-background);
     font-weight: var(--title-font-weight);
     font-size: 18px;
     margin: 30px;
 }
.logotype-unit {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.logotype-unit div {
    display: flex;
}
.burger-unit {
    width: 40px;
    height: 30px;
    margin: 30px;
    cursor: pointer;
}
.op {
    background: url("../svg/burger.svg") no-repeat;
}
.cl {
    background: url("../svg/close.svg") no-repeat;
    position: absolute;
    top: 0;
    right: 0;
}
.navigation-unit {
    min-width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #19273F;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.navigation-unit ul {
    list-style: none;
    margin-top: 200px;
}
.navigation-unit li {
    font-weight: var(--title-font-weight);
    font-size: var(--big-font-size);
    line-height: 32px;
    padding: 15px 30px;
    margin: 30px 25px 60px 25px;
    cursor: pointer;
}
.navigation-unit li:hover {
    color: var(--button-hover-background);
    text-shadow: 0 0 24px #D9113A;
}
.client-unit {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}
.client-unit button {
    width: 250px;
    font-size: var(--normal-font-size);
    font-weight: var(--title-font-weight);
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 20px;
    cursor: pointer;
    border: 1px solid var(--border-color);
    border-radius: 20px;
}
.client-unit button:hover {
    background: var(--button-hover-background);
    box-shadow: 0 0 24px #D9113A;
    border: 1px solid var(--button-hover-background);
}

/*------------------------------MAIN*/
main {
    margin: 0 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 80px;
}
.main-unit {
    display: flex;
    flex-direction: column;
    align-items: center;
}
figure {
    display: flex;
    flex-direction: column;
    align-items: center;
}
img {
    margin-top: 10px;
    border-radius: 10px;
    margin-bottom: 15px;
}
h1 {
    font-size: 30px;
    line-height: 48px;
    font-weight: var(--title-font-weight);
    text-align: start;
    margin: 25px 0;
    hyphens: auto;
}
h2 {
    font-size: 28px;
    line-height: 64px;
    font-weight: var(--title-font-weight);
    text-align: start;
    margin: 25px 0;
}
h3 {
    font-weight: var(--title-font-weight);
    font-size: 24px;
    line-height: 64px;
    text-align: start;
    margin: 25px 0;
}
article ul, ol {
    font-size: var(--big-font-size);
    margin-left: 20px;
    text-align: start;
    margin-bottom: 15px;
}
li {
    padding: 8px;
}
a {
    color: var(--link-color);
}
p {
    font-size: var(--big-font-size);
    line-height: 34px;
    margin: 24px 0;
    text-align: start;
}
.anchors-unit {
    display: flex;
    justify-content: center;
    align-items: center;
}
.anchors-unit li {
    font-size: var(--big-font-size);
    font-weight: var(--button-font-weight);
    background: var(--table-background);
    color: var(--anchor-color);
    margin-bottom: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    list-style: none;
    cursor: pointer;
    border: 1px solid var(--border-color);
    border-radius: 30px;
    padding: 15px 30px;
}
.anchors-unit li:hover {
    color: var(--text-color);
    background: var(--anchor-hover-background);
    box-shadow: 0 0 20px #2F589D;
}
ul span {
    margin-right: 15px;
}

/*------------------------------TABLES*/
table {
    width: 100%;
    margin: 30px 0;
    border-radius: 30px;
    padding: 0 15px 15px 15px;
    font-size: var(--small-font-size);
}
tr {
    display: flex;
}
tr:nth-child(2n+1) {
    background: var(--table-background);
    border-radius: 10px;
}
td {
    word-wrap: break-word;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0 5px;
}
.first-unit {
    font-size: var(--normal-font-size);
    font-weight: var(--title-font-weight);
}
.string-unit {
    flex-wrap: wrap;
}
.string-unit td:first-child {
    min-width: 100%;
    text-align: center;
}
.four-unit td {
    width: 33%;
}
.three-unit td {
    width: 50%;
}
.two-unit td {
    width: 100%;
}
.up-unit {
    display: none;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    font-size: 25px;
    color: #FFFFFF;
    height: 100px;
    width: 100px;
    position: fixed;
    bottom: 70px;
    right: 30px;
    border-radius: 50%;
    background: rgba(94, 93, 88, 0.55);
}
.up-unit:hover {
    background: rgba(217, 17, 58, 0.7);
    box-shadow: 0 0 24px rgba(217, 17, 58, 0.8);
}

/*------------------------------FOOTER*/
footer {
    display: flex;
    flex-direction: column;
    background: var(--footer-background);
    padding: 30px 15px;
}
footer span {
    font-size: 12px;
    line-height: 15px;
    padding: 2px;
    text-align: center;
}

@media (min-width: 850px) {
    .invisible-unit {
        display: flex;
    }

    /*------------------------------HEADER*/
    .head-unit {
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        padding: 0 20px;
    }
    .head-unit::after {
        content: " ";
        background: url("../svg/stars1.svg") no-repeat left;
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -2;
        top: 0;
        left: 0;
    }
    .head-unit > div {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .head-unit > div:first-child {
        min-width: 70%;
    }
    .head-unit span {
        margin: 25px;
        width: auto;
    }
    .navigation-unit {
        min-width: auto;
        background: none;
        position: relative;
        flex-direction: row;
        align-items: center;
    }
    .navigation-unit ul {
        display: flex;
        flex-direction: row;
        margin-top: 0;
    }
    .navigation-unit li {
        font-size: var(--normal-font-size);
        text-transform: uppercase;
        padding: 0;
        margin: 30px;
    }
    .logotype-unit {
        display: none;
    }
    .cl {
        display: none;
    }
    .client-unit {
        margin: 0;
    }
    .client-unit button {
        width: 100%;
        padding: 10px 20px;
        margin: 13px 25px 13px 0;
    }

    /*------------------------------MAIN*/
    main {
        margin: 0;
    }
    main::after {
        content: " ";
        background: url("../svg/stars2.svg") no-repeat right;
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -2;
        top: 70%;
        right: 0;
    }
    main::before {
        content: " ";
        background: url("../svg/stars3.svg") no-repeat left;
        position: absolute;
        width: 50%;
        height: 100%;
        z-index: -2;
        top: 180%;
        left: 0;
    }
    .main-unit {
        margin: 0 20px;
        max-width: 1150px;
    }
    .main-unit::after {
        content: " ";
        background: url("../svg/money1.svg") no-repeat right;
        position: absolute;
        width: 540px;
        height: 540px;
        z-index: -1;
        top: 60%;
        right: 0;
    }
    .main-unit::before {
        content: " ";
        background: url("../svg/money2.svg") no-repeat left;
        position: absolute;
        width: 440px;
        height: 440px;
        z-index: -1;
        bottom: -200%;
        left: 0;
    }
    .main-unit > figure > img {
        border-radius: 20px;
    }
    h1 {
        font-size: 48px;
    }
    h2 {
        font-size: 40px;
    }
    h3 {
        font-size: 28px;
    }
    .anchors-unit ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        margin: 20px 0;
    }
    .anchors-unit li {
        border-radius: 30px;
        width: auto;
        margin: 5px 10px;
    }

    /*------------------------------TABLES*/
    table {
        width: calc(100% - 80px);
        margin: 70px 40px;
        font-size: var(--big-font-size);
        padding: 0;
    }
    tr {
        justify-content: center;
    }
    .first-unit {
        font-size: var(--big-font-size);
    }
    .four-unit td {
        width: 25%;
    }
    .three-unit td {
        width: 33%;
    }
    .two-unit td {
        width: 50%;
    }
    .string-unit td:first-child {
        min-width: 25%;
        padding-left: 0;
        padding-top: 0;
    }
}

