@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@400;600;700&display=swap');
/* Reset and base styles  */
* {
    padding: 0;
    margin: 0;
    border: none;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
/* Links */
a:hover  {
    text-decoration: none;
}
/* Common */
aside, nav, footer, header, section, main {
    display: block;
}
h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
    font-weight: inherit;
}
img {
    vertical-align: top;
}
img, svg {
    max-width: 100%;
    display: block;
    height: auto;
    margin: 0 auto;
}
address {
    font-style: normal;
}
button {
    color: inherit;
    background-color: transparent;
}
/*------------------------------*/

:root {
    --btn-bg: linear-gradient(180deg, #9DF77A 0%, #77D055 100%);
    --bg-color: linear-gradient(180deg, #000 0%, #2A372A 16.67%, #000 33.33%, #2A372A 50%, #000 66.67%, #2A372A 83.33%, #000 100%);
    --text-color: #FFF;
    --btn-hover: #B5FB1D;
    --link-color: #9DF77A;
    --extra-btn-bg: #1A2518;
    --table-bg: #272C27;
    --header-bg: linear-gradient(90deg, #151B15 0%, #010701 52.08%, #151B15 100%);
    --card-bg: rgba(41, 43, 41, 0.70);

    --text-font-weight: 400;
    --table-fw: 600;
    --title-font-weight: 700;

    --normal-fs: 16px;
    --table-fs: 18px;
}
body {
    font-family: 'Geologica', sans-serif;
    font-size: var(--normal-fs);
    font-weight: var(--text-font-weight);
    color: var(--text-color);
    background: var(--bg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    overflow-x: hidden;
}

/*------------------------------HEADER*/
header {
    width: 100%;
    position: relative;
    background: var(--header-bg);
}
.nav-part {
    padding-bottom: 30px;
}
header > div {
    width: 100%;
    max-width: 1250px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
header span {
    color: var(--btn-bg);
     font-size: 18px;
     margin: 30px 10px;
 }
.logo4-head {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.logo4-head div {
    display: flex;
}
.men4 {
    width: 40px;
    height: 40px;
    margin: 10px;
    cursor: pointer;
    background: var(--btn-bg);
    border-radius: 10px;
    padding: 8px;
}
.open4-img {
    width: 45px;
    height: 45px;
    background: url("../svg/burger.svg") no-repeat;
    background-size: contain;
}
.close4-img {
    background: url("../svg/close.svg") no-repeat;
    background-size: contain;
    position: absolute;
    top: 15px;
    right: 0;
}
nav {
    min-width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--header-bg);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 2;
}
nav::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: url("../img/mob-nav-bg.png") no-repeat center;
    background-size: cover;
    z-index: -1;
}
nav ul {
    list-style: none;
    margin: 150px 20px 20px 20px;
    position: relative;
}
nav li {
    position: relative;
    font-weight: var(--title-font-weight);
    line-height: 32px;
    border-radius: 30px;
    padding: 10px 30px;
    margin: 5px 5px 45px 5px;
    cursor: pointer;
}
nav li:hover:after, header::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background: linear-gradient(90deg, #010701 0%, #98F174 52.6%, #010701 100%);
}
nav li:last-child {
    margin-bottom: 5px;
}
button {
    font-weight: var(--title-font-weight);
    font-size: var(--table-fw);
    padding: 10px 16px;
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid var(--link-color);
}
.client4-btns {
    border-radius: 25px;
    padding: 5px;
}
.client4-btns button {
    width: 100%;
    border-radius: 14px;
    background: var(--extra-btn-bg);
}
.client4-btns button:last-child {
    background: var(--btn-bg);
    margin-left: 5px;
}
button:hover {
    border-color: var(--extra-btn-bg);
    background: var(--header-bg);
 }
.client4-btns button:last-child:hover {
    color: var(--btn-bg);
    background: var(--btn-hover);
}

/*------------------------------MAIN*/
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 80px;
}
main::after {
    content: url("../img/left-dec.png");
    position: absolute;
    z-index: -1;
    top: 250px;
    left: 0;
}
article {
    width: calc(100% - 30px);
    margin: 0 15px;
    display: flex;
    flex-direction: column;
}
figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 15px;
}
img:not(article figure:first-child > img) {
    border-radius: 10px;
}
figure:first-child {
    margin-top: 30px;
    border-radius: 8px;
}
h1, h2, h3, h4 {
    font-weight: var(--title-font-weight);
    text-align: start;
    margin-top: 24px;
    margin-bottom: 16px;
}
h1 {
    font-size: 48px;
    line-height: 56px;
}
h2 {
    font-size: 38px;
    line-height: 64px;
}
h3 {
    font-size: 32px;
    line-height: 64px;
}
main ul, ol {
    text-align: start;
    margin-bottom: 15px;
}
article > ul, ol {
    margin-left: 20px;
}
li {
    padding: 8px;
}
a {
    color: var(--btn-bg);
}
p {
    font-weight: var(--text-font-weight);
    margin-bottom: 15px;
    line-height: 34px;
    text-align: start;
}
.center4-sec {
    width: 100%;
    display: flex;
    justify-content: center;
}
article button {
    display: flex;
    font-weight: var(--title-font-weight);
    text-transform: uppercase;
    background: var(--btn-hover);
    border: none;
    padding: 12px 60px;
    width: auto;
    color: #000;
    align-items: center;
    margin: 25px 0;
    border-radius: 20px;
}
img {
    border-radius: 10px;
}
article button:hover {
    background: var(--btn-bg);
}
.cards4-blog {
    margin: 24px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cards4-blog > div {
    padding: 16px;
    max-width: 380px;
    margin: 30px 10px;
    border-radius: 10px;
    border: 3px solid var(--link-color);
    background: var(--card-bg);
}
.cards4-blog > div > div {
    width: 100%;
    display: flex;
    justify-content: center;
}
.cards4-blog h3 {
    margin: 16px 0;
    line-height: 36px;
}
.cards4-blog button {
    background: var(--btn-bg);
}
.cards4-blog button:hover {
    background: var(--btn-hover);
}
.cards4-blog img {
    border-radius: 0;
}
.cards4-blog figure, .cards4-blog img {
    margin: 0;
}

    /*------------------------------TABLES*/
table {
    font-size: var(--normal-fs);
    color: var(--bg-color);
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
}
tr {
    flex-wrap: wrap;
    display: flex;
    border-radius: 10px;
    margin-bottom: 8px;
}
tr:nth-child(2n+1) {
    border-radius: 10px;
    border: 1px solid var(--link-color);
    background: var(--table-bg);

}
tr td:first-child {
    min-width: 100%;
    text-align: center;
    font-weight: var(--title-font-weight);
    font-size: var(--table-fs);
}
td {
    position: relative;
    word-wrap: break-word;
    padding: 10px 5px;
    margin: 10px 0;
    overflow: hidden;
}
td:first-child {
    color: var(--link-color);
    font-weight: var(--title-font-weight);
}
.four4-col td {
    width: 33%;
}
.three4-col td {
    width: 50%;
}
.two4-col td {
    width: 100%;
}
.up4-top {
    display: none;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    font-size: 25px;
    color: #FFFFFF;
    height: 100px;
    width: 100px;
    position: fixed;
    bottom: 85px;
    right: 30px;
    border-radius: 50%;
    background: rgba(94, 93, 88, 0.55);
}
.up4-top:hover {
    background: var(--btn-bg);
}
.hide0 {
    display: none;
}

/*------------------------------FOOTER*/
footer p {
    font-size: 12px;
    line-height: 15px;
    padding: 30px 15px;
    text-align: center;
    margin: 0;
}

@media (min-width: 1050px) {
    .hide0 {
        display: flex;
    }
    /*------------------------------HEADER*/
    header {
        display: flex;
        justify-content: center;
        border-bottom: none;
    }
    header > div {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .navigator4 {
        border-bottom: none;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding-bottom: 0;
    }
    .navigator4::before {
        content: none;
    }
    header span {
        margin: 25px;
        width: auto;
    }
    nav {
        min-width: auto;
        background: none;
        position: relative;
        flex-direction: row;
        align-items: center;
        border-radius: 16px;
        border: 1px solid var(--link-color);
        margin: 16px 0;
    }
    nav::after {
        content: none;
    }
    nav li:hover:after {
        content: none;
    }
    nav .client4-btns {
        display: none;
    }
    nav > div {
        background: none;
    }
    nav ul {
        display: flex;
        flex-direction: row;
        margin: 0;
        padding: 2px;
    }
    nav li {
        font-weight: var(--text-font-weight);
        color: var(--text-color);
        padding: 7px 15px;
        margin: 0;
        border-radius: 14px;
    }
    nav li:not(nav li:last-child,nav li:first-child) {
        margin: 0 20px;
    }
    nav li:hover {
        background: var(--btn-bg);
    }
    nav li:last-child {
        margin-bottom: 0;
    }
    button {
        padding: 12px 24px;
    }
    .client4-btns button:last-child {
        margin-left: 10px;
    }
    .logo4-head {
        display: none;
        border-bottom: none;
    }
    .close4-img {
        display: none;
    }

    /*------------------------------MAIN*/
    main {
        margin-top: 40px;
    }
    main::before {
        content: url("../img/right-dec.png");
        position: absolute;
        z-index: -1;
        top: 40px;
        right: 0;
    }
    article {
        max-width: 1250px;
        margin: 0 40px;
    }
    .block {
        display: flex;
        align-items: center;
    }
    .block figure {
        width: 30%;
        margin: 20px 20px 20px 0;
    }
    .block > div {
        width: 70%;
    }
    .block h3 {
        margin-top: 0;
    }
    .cards4-blog {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .cards4-blog > div {
        width: calc(100% / 3 - 30px);
        max-width: none;
    }

    /*------------------------------TABLES*/
    tr {
        justify-content: center;
        margin: 15px 0;
    }
    .four4-col td {
        width: 25%;
    }
    .three4-col td {
        width: 33%;
    }
    .two4-col td {
        width: 50%;
    }
    tr td:first-child {
        font-size: var(--table-fs);
        min-width: 25%;
    }
    td:not(td:last-child)::after {
        content: "";
        width: 1px;
        height: 300%;
        background: var(--link-color);
        position: absolute;
        top: -50px;
        right: 1px;
    }
}
