@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@300;400;700&display=swap');
/* Reset and base styles  */
* {
    padding: 0;
    margin: 0;
    border: none;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
/* Links */
a:hover  {
    text-decoration: none;
}
/* Common */
aside, nav, footer, header, section, main {
    display: block;
}
h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
    font-weight: inherit;
}
img {
    vertical-align: top;
}
img, svg {
    max-width: 100%;
    display: block;
    height: auto;
    margin: 0 auto;
}
address {
    font-style: normal;
}
button {
    color: inherit;
    background-color: transparent;
}
/*------------------------------*/

:root {
    --background-color: linear-gradient(180deg, #1F1431 0%, #403977 100%);
    --extra-bg-color: #45397D;
    --button-background: #FFCB2D;
    --text-color: #FFF;
    --exrta-text-color: #201534;
    --border-color: #CACACA;
    --footer-bg: #403875;
    --nav-bg: #32214A;

    --text-fw: 400;
    --title-fw: 700;
    --table-text-fw: 300;

    --normal-fs: 18px;
    --table-title: 25px;
    --table-text: 20px;
    --mob-fs: 16px;
    --mob-table-title: 18px;
    --mob-table-text: 13px;
}
body {
    font-family: 'Inter', sans-serif;
    font-weight: var(--table-text-fw);
    color: var(--text-color);
    background: var(--background-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.none-del {
    display: none;
}

/*------------------------------HEADER*/
header {
    font-family: 'Bebas Neue', sans-serif;
    width: 100%;
}
header > div {
    width: 100%;
    max-width: 1250px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
header span {
    font-size: 35px;
    margin: 30px;
    font-weight: var(--text-fw);
 }
.logo-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: var(--background-color);
}
.logo-block div {
    display: flex;
}
.menu-img {
    width: 40px;
    height: 30px;
    margin: 30px;
    cursor: pointer;
}
.open-img {
    background: url("../svg/burger.svg") no-repeat;
}
.close-img {
    background: url("../svg/close.svg") no-repeat;
    position: absolute;
    top: 0;
    right: 0;
}
nav {
    min-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    width: 100%;
    height: fit-content;
    background: var(--nav-bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
}
nav > div {
    display: flex;
    width: 100%;
}
nav ul {
    list-style: none;
    font-size: var(--normal-fs);
    font-weight: var(--text-fw);
    color: var(--background-color);
    padding: 40px 0;
}
nav li {
    margin: 25px 20px;
    cursor: pointer;
    font-size: 23px;
    font-style: normal;
    line-height: 24px;
    letter-spacing: 2px;
    font-weight: lighter;
    text-align: center;
}
nav li:hover {
    color: var(--button-background);
}
.users {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
button {
    color: var(--exrta-text-color);
    font-family: 'Bebas Neue', sans-serif;
    width: 90%;
    font-size: 23px;
    font-weight: var(--text-fw);
    background: var(--button-background);
    padding: 15px 0;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 8px;
}

/*------------------------------MAIN*/
main {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 80px;
}
body::before, footer::before {
    content: "";
    width: 100vw;
    height: 60vh;
    background: url("../img/banner-bg.png") center no-repeat;
    background-size: cover;
    position: absolute;
    z-index: -1;
    mix-blend-mode: lighten;
    opacity: 0.5;
}
body::before {
    top: 0;
}
article {
    margin: 0 15px;
    display: flex;
    flex-direction: column;
}
article > span {
    text-align: center;
    font-weight: var(--table-text-fw);
    margin: 30px 0;
}
figure {
    display: flex;
    flex-direction: column;
    align-items: center;
}
img {
    border-radius: 5px;
}
figure {
    margin-top: 10px;
    margin-bottom: 15px;
}
figure:first-child {
    margin-top: 30px;
    border-radius: 8px;
}
h1, h2, h3, h4 {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: var(--text-fw);
    text-align: start;
    margin-top: 24px;
    margin-bottom: 16px;
}
h1, h2, h3, th, button, nav li {
    text-transform: uppercase;
}
h1 {
    position: relative;
    text-align: center;
    color: var(--background-color);
    font-size: 42px;
}
h1::before {
    content: url("../svg/header.svg");
    position: absolute;
    top: -120px;
    left: calc(50% - 115px);
}
h2 {
    font-size: 32px;
}
h3 {
    font-size: 28px;
}
h4 {
    font-size: 20px;
    font-weight: var(--text-fw);
    margin-bottom: 20px;
}
main ul, ol {
    text-align: start;
    margin-bottom: 25px;
}
ul li span {
    font-weight: bold;
}
article > ul, ol {
    margin-left: 20px;
}
li {
    padding: 8px;
}
a {
    color: var(--button-background);
    text-decoration: none;
}
p {
    text-indent: 20px;
    margin-bottom: 20px;
    line-height: 30px;
    text-align: start;
}
.content-on > div {
    padding: 30px 20px;
}
.content-on figure {
    mix-blend-mode: lighten;
}
.cards-box {
    position: relative;
}
footer::before {
    min-width: 100vw;
    height: 80vh;
    background: url("../img/bg2.png") center no-repeat;
    background-size: cover;
    left: 0;
    bottom: 100vh;
}
.cards-box > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 30px;
    border-radius: 8px;
    background: var(--text-color);
    margin: 10px;
}

/*------------------------------TABLES*/
table {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 8px;
    font-size: var(--mob-table-text);
    background: var(--text-color);
    color: var(--exrta-text-color);
}
tr {
    width: 100%;
    flex-wrap: wrap;
    display: flex;
}
tr:first-child {
    background: var(--button-background);
}
tr:not(tr:last-child) {
    border-bottom: 1px solid var(--border-color);
}
td, th {
    word-wrap: break-word;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0 5px;
}
th {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: var(--text-fw);
    font-size: var(--mob-table-title);
}
.four-col4 td, .four-col4 th {
    width: 25%;
}
.three-col3 td, .three-col3 th {
    width: 33%;
}
.two-columns2 td,.two-columns2 th {
    width: 50%;
}
.up-p {
    display: none;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    font-size: 25px;
    color: #FFFFFF;
    height: 100px;
    width: 100px;
    position: fixed;
    bottom: 70px;
    right: 30px;
    border-radius: 50%;
    background: rgba(94, 93, 88, 0.55);
}
.up-p:hover {
    background: rgba(119, 39, 251, 0.6);
}

/*------------------------------FOOTER*/
footer {
    width: 100%;
    position: relative;
    background: var(--footer-bg);
    border-top: 1px solid var(--border-color);
}
footer p {
    font-size: 12px;
    line-height: 15px;
    margin: 30px 15px;
    text-align: center;
}

@media (min-width: 950px) {
    .none-del {
        display: flex;
    }

    /*------------------------------HEADER*/
    header {
        display: flex;
        justify-content: center;
    }
    header > div {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .nav {
        border-bottom: none;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    header span {
        margin: 25px;
        width: auto;
    }
    nav {
        min-width: auto;
        background: none;
        position: relative;
        flex-direction: row;
        align-items: center;
    }
    nav > div {
        display: none;
    }
    nav ul {
        display: flex;
        flex-direction: row;
        margin-top: 0;
        padding: 0;
    }
    nav li {
        padding: 0;
        margin: 30px;
    }
    nav li:hover {
        background: none;
        color: var(--border-color);
    }
    .logo-block {
        display: none;
        border-bottom: none;
    }
    .close-img {
        display: none;
    }
    .users {
        margin-bottom: 0;
        margin-right: 20px;
    }
    .users button {
        width: 100%;
        padding: 12px 30px;
        margin: 13px 0;
    }

    /*------------------------------MAIN*/
    main {
        margin-top: 150px;
    }
    article {
        max-width: 1250px;
        margin: 0 40px;
    }
    ol {
        font-size: var(--table-text);
    }
    h1 {
        width: 50%;
        font-size: 65px;
        line-height: 74px;
    }
    h2 {
        font-size: 44px;
    }
    h3 {
        font-size: 35px;
    }
    h4 {
        font-size: 22px;
    }
    p {
        font-size: var(--normal-fs);
    }
    .content-on {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
    }
    .content-on > div, .content-on figure {
        width: calc(50% - 15px);
    }
    .cards-box {
        display: flex;
        margin: 50px 0;
    }
    .cards-box > div {
        width: 25%;
    }


    .mob {
        display: none;
    }

    /*------------------------------TABLES*/
    table {
        font-size: var(--table-text);
        border-collapse: collapse;
    }
    th {
        font-size: var(--table-title);
    }

}

