/* Reset and base styles  */
* {
    padding: 0;
    margin: 0;
    border: none;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
/* Links */
a, a:link, a:visited  {
    text-decoration: none;
}
a:hover  {
    text-decoration: none;
}
/* Common */
aside, nav, footer, header, section, main {
    display: block;
}
h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
    font-weight: inherit;
}
img {
    vertical-align: top;
}
img, svg {
    max-width: 100%;
    height: auto;
}
address {
    font-style: normal;
}
/* Form */
input, textarea, button, select {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}
input::-ms-clear {
    display: none;
}
button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background: none;
    cursor: pointer;
}
input:focus, input:active,
button:focus, button:active {
    outline: none;
}
button::-moz-focus-inner {
    padding: 0;
    border: 0;
}
label {
    cursor: pointer;
}
legend {
    display: block;
}
/*------------------------------*/

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #FBF5E6;
    background: #151412;
}
.stealth {
    display: none;
}

/*------------------------------HEADER*/
header {
    border-bottom: #8A34FF 2px solid;
}
.header-folder {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.logoWrap {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logoWrap div {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
}
.header-folder span {
    font-weight: 700;
    color: #8A34FF;
    font-size: 24px;
    line-height: 36px;
    padding-left: 20px;
    margin: 30px;
}
.img {
    width: 30px;
    height: 30px;
    margin: 30px;
    cursor: pointer;
}
.open-burger {
    background: url("../svg/burger.svg") no-repeat;
}
.close-burger {
    background: url("../svg/Vector.svg") no-repeat;
}
.links {
    min-width: 72%;
    position: fixed;
    top: 0;
    left: 0;
    background: #A19FB7;
    z-index: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.links ul {
    list-style: none;
    margin-top: 50px;
}
.links li {
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    padding: 20px 30px;
    margin-bottom: 30px;
    cursor: pointer;
}
.consumer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}
.consumer button {
    width: 250px;
    font-weight: 600;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 20px;
    border: #8A34FF 1px solid;
    cursor: pointer;
}
.consumer button:hover {
    background: #8A34FF;
}

/*------------------------------MAIN*/
.main-folder {
    margin: 0 15px 0 15px;
}
.main-folder img {
    min-width: 70%;
    max-width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 30px;
    object-fit: cover;
}

h1 {
    color: #FFFFFF;
    font-size: 36px;
    line-height: 44px;
    font-style: normal;
    margin: 30px 0 15px 0;
    overflow-wrap: break-word;
    text-align: center;
}
h1 span {
    color: #8A34FF;
}
h2 {
    color: #8A34FF;
    font-weight: 500;
    font-size: 26px;
    line-height: 40px;
    margin: 30px 0 15px 0;
    overflow-wrap: break-word;
    text-align: start;
}
h3 {
    color: #8A34FF;
    font-weight: 500;
    font-size: 22px;
    line-height: 34px;
    margin-top: 30px;
    overflow-wrap: break-word;
    text-align: start;
}
.main-folder ul, ol {
    text-align: left;
    align-items: flex-start;
    margin-top: 30px;
}
article ul {
    margin-left: 20px;
}
ol {
    padding-left: 20px;
}
article li {
    font-weight: 500;
    font-size: 18px;
    line-height: 34px;
    margin-top: 10px;
}
.main-folder p {
    font-weight: 500;
    font-size: 18px;
    line-height: 34px;
    margin-top: 30px;
    text-align: left;
}
.main-folder a {
    display: inline;
    color: #8A34FF;
    text-decoration: underline;
}
.anchor-list {
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
}
.anchor-list ul {
    width: 100%;
    max-width: 600px;
    list-style-type: none;
}
.anchor-list li {
    margin-bottom: 15px;
}
.anchor-list a {
    color: #FFFFFF;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    padding: 15px;
    border-bottom: 1px solid #FFFFFF;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
}
.anchor-svg {
    width: 20px;
    height: 20px;
    margin-left: 15px;
    background: url("../svg/arrow.svg");
}
/*------------------------------TABLES*/
table {
    width: 95%;
    margin: 50px 0 20px 0;
}
tbody {
    display: flex;
    flex-direction: column;
    border-collapse: collapse;
    border-bottom: 1px solid #FBF5E6;
}
tr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #FBF5E6;
}
td {
    font-size: 16px;
    line-height: 20px;
    word-wrap: break-word;
    width: 33%;
    text-align:center;
    padding: 20px 10px;
}
td:first-child {
    text-align: left;
}
td:last-child {
    text-align: right;
}
.big-table {
    flex-wrap: wrap;
}
.big-table td {
    width: 50%;
}
.big-table td:nth-child(2n+1){
    text-align: left;
}
.big-table td:nth-child(2n+2){
    text-align: right;
}
.above {
    display: none;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    font-size: 25px;
    color: #FFFFFF;
    height: 100px;
    width: 100px;
    position: fixed;
    bottom: 70px;
    right: 30px;
    border-radius: 50%;
    background: rgba(94, 93, 88, 0.55);
}
.above:hover {
    background: rgba(138, 52, 255, 0.65);
}
.invisible-button {
    display: none;
}
/*------------------------------FOOTER*/
footer p {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    padding: 40px 20px;
    margin-top: 100px;
    border-top: 2px solid #8A34FF;
}

@media (min-width: 850px) {
    .stealth {
        display: flex;
    }

    /*------------------------------HEADER*/
    .header-folder {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .logoWrap {
        display: none;
    }
    .img {
        display: none;
    }
    .header-folder > div {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .header-folder span {
        margin: 35px;
        width: auto;
    }
    .links {
        min-width: auto;
        background: none;
        position: relative;
        flex-direction: row;
    }
    .links ul {
        display: flex;
        flex-direction: row;
        margin-top: 0;
    }
    .links li {
        font-weight: 400;
        padding: 0;
        margin: 44px 15px;
    }
    .consumer {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding-right: 20px;
        margin: 0 0 0 35px;
        align-items: center;
    }
    .consumer button {
        width: 100%;
        padding: 15px 20px;
        margin: 13px 25px 13px 0;
    }

    /*------------------------------MAIN*/
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .main-folder {
        max-width: 800px;
        margin: 0 150px;
    }
    .main-folder img {
        border-right: 12px;
    }
    figure img {
        max-width: 100%;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .anchor-list a {
        padding: 20px;
    }
    h1 {
        font-size: 64px;
        line-height: 78px;
        margin: 50px -80px;
    }
    header::after {
        content: " ";
        width: 300px;
        height: 600px;
        background: url("../svg/Element.svg") no-repeat;
        position: absolute;
        bottom: -50%;
        right: 0;
        z-index: -1;
    }
    main::before {
        content: " ";
        width: 300px;
        height: 600px;
        background: url("../svg/Element3.svg") no-repeat;
        position: absolute;
        bottom: -190%;
        right: 0;
        z-index: -1;
    }
    main::after {
        content: " ";
        width: 300px;
        height: 600px;
        background: url("../svg/Element2.svg") no-repeat;
        position: absolute;
        bottom: -125%;
        left: 0;
        z-index: -1;
    }
    h2 {
        font-size: 36px;
        line-height: 34px;
        margin: 50px 0;
    }
    h3 {
        font-size: 28px;
        margin: 50px 0;
    }
    ul {
        font-size: 20px;
        margin: 30px 0 0;
    }
    ol {
        font-size: 20px;
        margin: 30px 0 0;
    }
    p {
        text-indent: 20px;
        font-size: 20px;
        margin: 30px 0 0;
    }

    /*------------------------------TABLES*/
    table {
        width: 100%;
        padding: 50px 0 20px 0;
        margin: 0;
    }
    td {
        font-weight: 500;
        font-size: 18px;
    }
    .big-table td {
        width: 25%;
    }
    .big-table td:not(.top, .bottom){
        text-align: center;
    }
    /*------------------------------FOOTER*/
    footer p {
        margin: 100px 80px 0 80px;
        text-align: start;
    }
}

