@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');
/* Reset and base styles  */
* {
    padding: 0;
    margin: 0;
    border: none;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
/* Links */
a:hover  {
    text-decoration: none;

}
/* Common */
aside, nav, footer, header, section, main {
    display: block;
}
h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
    font-weight: inherit;
}
img {
    vertical-align: top;
}
img, svg {
    width: 100%;
    max-width: 100%;
    display: block;
    height: auto;
    margin: 0 auto;
}
address {
    font-style: normal;
}
button {
    color: inherit;
    background-color: transparent;
}
/*------------------------------*/
:root {
    --background-color: #141414;
    --text-color: #FCFCFC;
    --button-color: #61FA9E;
    --logo-bg-color: #EFEFEF;
    --button-extra-hover: #45D0E9;
    --button-hover: linear-gradient(264deg, #61FA9E 6.26%, #3DC5FD 109.3%);
    --border-color:#D8D8D8;

    --text-font-weight: 400;
    --header-wf: 600;
    --title-font-weight: 700;

    --big-font-size: 16px;
    --normal-font-size: 14px;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: var(--text-font-weight);
    color: var(--text-color);
    background: var(--background-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    overflow-x: hidden;
}
.del {
    display: none;
}

/*------------------------------HEADER*/
header {
    color: var(--background-color);
    background: var(--text-color);
    min-width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    border-bottom: 1px solid var(--border-color);
}
.header-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}
.nav-menu {
    display: flex;
    align-items: center;
}
header span {
    font-weight: var(--title-font-weight);
    line-height: 20px;
    text-transform: uppercase;
    margin: 10px 5px;
    padding: 8px 25px;
    background: var(--logo-bg-color);
}
.icon {
    width: 36px;
    height: 30px;
    margin: 5px;
    cursor: pointer;
}
.open-y {
    background: url("../svg/burger.svg") no-repeat center;
}
.close-y {
    background: url("../svg/close.svg") no-repeat center;
}
nav {
    min-width: 100%;
    position: fixed;
    top: 55px;
    left: 0;
    background: var(--background-color);
    height: 100%;
    display: flex;
    flex-direction: column;
}
nav::before {
    position: absolute;
    content: url("../svg/top-nav-dec.svg");
    top: 0;
    right: 0;
}
nav::after {
    position: absolute;
    content: url("../svg/bottom-nav-dec.svg");
    bottom: 50px;
    left: 0;
}
nav ul {
    color: var(--text-color);
    font-weight: var(--header-wf);
    list-style: none;
    margin-top: 50px;
    text-transform: uppercase;
}
nav li {
    width: 100%;
    font-size: var(--big-font-size);
    text-align: center;
    line-height: 32px;
    padding: 16px 10px;
    margin-bottom: 40px;
    cursor: pointer;
}
nav li:hover {
    color: var(--button-color);
}
.users {
    display: flex;
    align-items: center;
}
.users button {
    padding: 10px 15px;
    font-weight: var(--title-font-weight);
    margin: 5px;
    cursor: pointer;
    white-space: nowrap;
    border: 2px solid var(--button-color);
}
.users button:last-child {
    background: var(--button-color);
}
.users button:hover {
    background: var(--button-extra-hover);
    border-color: var(--button-extra-hover);
}
.users button:last-child:hover {
    background: var(--button-hover);
}
    /*------------------------------MAIN*/
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding-top: 55px;
}
article {
    margin: 0 15px;
}
main > div {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--text-color);
}
.poster {
    color: var(--background-color);
    max-width: 1200px;
    margin: 30px;
}
.poster figure {
    position: relative;
}
.poster figure::after {
    content: "";
    height: 370px;
    width: 340px;
    background: url("../svg/img-border.svg") no-repeat right;
    background-size: contain;
    position: absolute;
    bottom: -15px;
    right: -15px;
}
figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 0;
}
h1, h2, h3 {
    font-weight: var(--title-font-weight);
    text-align: start;
    margin-top: 25px;
    margin-bottom: 20px;
}
h1 {
    font-size: 40px;
}
h2 {
    font-size: 26px;
}
h3 {
    font-size: 20px;
}
main ul, ol {
    text-align: start;
    margin-bottom: 15px;
    margin-left: 20px;
}
li {
    padding: 3px;
}
a {
    color: var(--button-color);
}
p {
    font-size: var(--normal-font-size);
    margin-bottom: 15px;
    line-height: 24px;
    text-align: start;
}

/*------------------------------TABLES*/
table {
    font-size: var(--big-font-size);
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    border-collapse: collapse;
    overflow: hidden;
}
td {
    word-wrap: break-word;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
}
th {
    color: var(--background-color);
    word-wrap: break-word;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    font-weight: var(--title-font-weight);
    font-size: 18px;
    background: var(--button-color);
}
tr:not(tr:last-child) {
    border-bottom: 1px solid var(--button-color);
}
.big4table td {
    width: 25%;
}
.normal3table td {
    width: 33%;
}
.small2table td {
    width: 50%;
}
.up-btn-up {
    display: none;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    font-size: 25px;
    height: 100px;
    width: 100px;
    position: fixed;
    bottom: 70px;
    right: 30px;
    border-radius: 50%;
    background: rgba(94, 93, 88, 0.55);
    cursor: pointer;
    z-index: 2;
}
.up-btn-up:hover {
    background: var(--button-color);
}

/*------------------------------FOOTER*/
footer {
    position: relative;
    margin-top: 30px;
}
footer p {
    font-size: 12px;
    margin: 30px 15px;
    text-align: center;
}

@media (min-width: 850px) {
    .del {
        display: flex;
    }

    /*------------------------------HEADER*/
    header span {
        margin-right: 40px;
    }
    .header-box {
        justify-content: space-around;
    }
    .nav-menu {
        width: 55%;
        justify-content: space-between;
    }
    .iconas {
        display: none;
    }
    nav {
        height: auto;
        background: none;
        position: relative;
        top: 0;
        flex-direction: row;
        align-items: center;
    }
    nav::before, nav::after {
        content: none;
    }
    nav ul {
        color: var(--background-color);
        width: auto;
        display: flex;
        flex-direction: row;
        margin: 0;
    }
    nav li {
        width: auto;
        font-size: var(--big-font-size);
        padding: 0;
        margin: 30px 40px;
        border: none;
    }
    .users button {
        width: 140px;
    }
    .users {
        margin-left: 20px;
    }

    /*------------------------------MAIN*/
    .poster {
        display: flex;
        align-items: flex-end;
    }
    .poster > div {
        width: 60%;
    }
    .poster figure {
        margin-left: 30px;
    }
    main {
        padding-top: 90px;
    }
    article {
        max-width: 1200px;
    }
    main figure:first-child {
        padding-bottom: 25px;
    }
    figure {
        margin: 40px 0;
    }
    h1 {
        font-size: 64px;
        text-align: center;
    }
    h2 {
        font-size: 32px;
    }
    h3 {
        font-size: 26px;
    }
    p {
        font-size: var(--big-font-size);
    }

    /*------------------------------TABLES*/
    td {
        font-size: var(--big-font-size);
        padding: 15px;
    }
    th {
        padding: 20px;
    }

}

