@import url('https://fonts.googleapis.com/css2?family=Afacad:wght@400;600&display=swap');
/* Reset and base styles  */
* {
    padding: 0;
    margin: 0;
    border: none;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
/* Links */
a:hover  {
    text-decoration: none;
}
/* Common */
aside, nav, footer, header, section, main {
    display: block;
}
h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
    font-weight: inherit;
}
img {
    vertical-align: top;
}
img, svg {
    max-width: 100%;
    display: block;
    height: auto;
    margin: 0 auto;
}
address {
    font-style: normal;
}
button {
    color: inherit;
    background-color: transparent;
}
/*------------------------------*/

:root {
    --bg-color: #2B1055;
    --nav-bg: #502F71;
    --btn-bg: linear-gradient(180deg, #FFD87E 0%, #F8B00D 100%);
    --btn-shadow: 0 4px 4px 0 rgba(249, 184, 38, 0.25);
    --btn-border: #FABA29;
    --hover-btn-bg: linear-gradient(180deg, #FFEC92 0%, #FFCE2B 100%);
    --btn-hover-shadow: 0 4px 14px 0 rgba(249, 184, 38, 0.45);
    --extra-btn-bg: linear-gradient(180deg, #DE67C5 0%, #9E388C 100%);
    --extra-btn-shadow: 0px 4px 4px 0px rgba(154, 56, 139, 0.25);
    --extra-btn-border: #9A388B;
    --hover-extra-btn: linear-gradient(180deg, #FC85E3 0%, #BC56AA 100%);
    --hover-extra-btn-shadow: 0 4px 14px 0 rgba(154, 56, 139, 0.45);
    --text-color: #FFF;
    --link-color: #E49E46;
    --footer-color: #0D0037;

    --text-font-weight: 400;
    --title-font-weight: 600;

    --normal-fs: 16px;
    --table-fs: 18px;
}
body {
    font-family: 'Afacad', sans-serif;
    font-size: var(--normal-fs);
    font-weight: var(--text-font-weight);
    color: var(--text-color);
    background: var(--bg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    overflow-x: hidden;
}
.remove-e {
    display: none;
}
body > div {
    background: url("../svg/top-bg.svg") no-repeat top center;
    background-size: contain;
}

/*------------------------------HEADER*/
header {
    width: 100%;
}
header > div {
    width: 100%;
    max-width: 1250px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
header span {
    color: var(--link-color);
    font-size: 18px;
    margin: 30px;
    position: relative;
    padding-left: 35px;
 }
header span::before {
    content: url("../svg/logo.svg");
    position: absolute;
    left: 0;
    top: 0;
}
.modal-unit {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.modal-unit div {
    display: flex;
}
.modalw, .button {
    width: 56px;
    height: 56px;
    cursor: pointer;
}
.open-modal {
    background: url("../svg/burger.svg") no-repeat;
    background-size: contain;
}
.close-modal {
    width: 30px;
    height: 30px;
    background: url("../svg/close.svg") no-repeat;
    background-size: contain;
    position: absolute;
    top: 30px;
    right: 30px;
}
nav, nav > div {
    min-width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--nav-bg);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 2;
}
nav > div {
    position: relative;
    background: url("../svg/nav-bg.svg");
}
nav ul {
    list-style: none;
    margin: 120px 20px 20px 20px;
    padding: 16px 10px;
}
nav li {
    font-weight: var(--title-font-weight);
    font-size: var(--table-fs);
    border-radius: 30px;
    padding: 16px 30px;
    margin: 5px 5px 75px 5px;
    cursor: pointer;
}
nav li:last-child {
    margin-bottom: 5px;
}
nav li:hover {
    box-shadow: var(--btn-shadow);
    background: var(--btn-bg);
}
.client-sing {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
    padding: 0 15px;
}
button {
    width: 250px;
    font-weight: var(--title-font-weight);
    padding: 12px 24px;
    cursor: pointer;
    border-radius: 30px;
    background: var(--btn-bg);
    box-shadow: var(--btn-shadow);
    border: 2px solid var(--btn-border);
}
button:hover {
    background: var(--hover-btn-bg);
    box-shadow: var(--hover-btn-bg);
}
.client-sing button {
    width: 100%;
}
.client-sing button:last-child, .button {
    background: var(--extra-btn-bg);
    box-shadow: var(--extra-btn-shadow);
    border: 2px solid var(--extra-btn-border);
    margin-top: 10px;
}
.client-sing button:last-child:hover, .button:hover {
    background: var(--hover-extra-btn);
    box-shadow: var(--hover-extra-btn-shadow);
}
.button {
    padding: 7px;
    margin: 0 20px 0 0;
    border-radius: 10px;
}

/*------------------------------MAIN*/
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 80px;
}
article {
    margin: 0 15px;
    display: flex;
    flex-direction: column;
}
figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 15px;
}
article > figure img {
    border-radius: 10px;
}
figure img {
    margin-top: 30px;
    border-radius: 10px;
}
article > figure:first-child img {
    border-radius: 0;
}
h1, h2, h3 {
    line-height: 130%;
    text-align: start;
    margin-top: 24px;
    margin-bottom: 16px;
}
h1 {
    font-size: 48px;
}
h2 {
    font-size: 38px;
}
h3 {
    font-size: 32px;
}
main ul, ol {
    text-align: start;
    margin-bottom: 15px;
}
article > ul, ol {
    margin-left: 20px;
}
li {
    padding: 8px;
}
a {
    color: var(--link-color);
}
p {
    font-weight: var(--text-font-weight);
    margin-bottom: 15px;
    line-height: 34px;
    text-align: start;
}
.cent {
    width: 100%;
    display: flex;
    justify-content: center;
}
article button {
    width: auto;
    margin: 24px 0;
    text-transform: uppercase;
}

    /*------------------------------TABLES*/
table {
    width: 100%;
    margin: 30px 0;
}
tr {
    flex-wrap: wrap;
    display: flex;
    border-radius: 26px;
    margin-bottom: 8px;
}
tr td:first-child {
    min-width: 100%;
    text-align: center;
    font-weight: var(--title-font-weight);
    font-size: var(--table-fs);
}
tr:nth-child(2n+1) {
    background: var(--btn-bg);
}
td {
    position: relative;
    word-wrap: break-word;
    padding: 15px 5px;
    overflow: hidden;
}
td:first-child {
    font-weight: var(--title-font-weight);
}
.f4f td {
    width: 33%;
}
.t3t td {
    width: 50%;
}
.t2t td {
    width: 100%;
}
.up-BtNn {
    display: none;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    font-size: 25px;
    color: #FFFFFF;
    height: 100px;
    width: 100px;
    position: fixed;
    bottom: 85px;
    right: 30px;
    border-radius: 50%;
    background: rgba(94, 93, 88, 0.55);
}
.up-BtNn:hover {
    background: var(--btn-bg);
}

/*------------------------------FOOTER*/
footer {
    background: var(--footer-color);
}
footer p {
    font-size: 12px;
    line-height: 15px;
    padding: 30px 15px;
    text-align: center;
    margin: 0;
}

@media (min-width: 1000px) {
    .remove-e {
        display: flex;
    }

    /*------------------------------HEADER*/
    header {
        display: flex;
        justify-content: center;
        border-bottom: none;
    }
    header > div {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .header-unit {
        border-bottom: none;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    header span {
        margin: 25px;
        width: auto;
    }
    nav {
        top: 100px;
        left: 20px;
        background: none;
        flex-direction: row;
        align-items: center;
    }
    nav > div {
        background: none;
    }
    nav, nav > div {
        height: auto;
    }
    nav ul {
        width: 125px;
        margin: 0;
        padding: 15px 8px;
        border-radius: 20px;
        border: 2px solid var(--text-color);
        background: var(--bg-color);
    }
    nav li {
        list-style: disc;
        text-align: start;
        font-weight: var(--text-font-weight);
        color: var(--text-color);
        font-size: var(--normal-fs);
        padding: 10px;
        margin: 0 0 0 20px;
        border-radius: 5px;
    }
    nav li:last-child {
        margin-bottom: 0;
    }
    nav li:hover {
        background: none;
        box-shadow: none;
        color: var(--link-color);
    }
    .modal-unit {
        display: none;
        border-bottom: none;
    }
    .close-modal, .mob {
        display: none;
    }
    .client-sing {
        flex-direction: row;
        margin: 0 20px 0 0;
    }
    .client-sing button {
        width: 100%;
    }
    .client-sing button:first-child {
        margin-right: 15px;
        margin-bottom: 0;
    }
    .client-sing button:last-child {
        margin-top: 0;
    }

    /*------------------------------MAIN*/
    article {
        max-width: 1250px;
        margin: 0 40px 0 155px;
    }
    h1 {
        margin-bottom: 24px;
        margin-top: 40px;
    }
    .one-block {
        display: flex;
        align-items: center;
    }
    .one-block figure {
        min-width: 300px;
        width: auto;
    }
    .one-block > div {
        width: 70%;
        margin-left: 30px;
    }

    /*------------------------------TABLES*/
    table {
        margin: 50px 0;
        font-size: var(--table-fs);
        padding: 0 30px 30px;
    }
    tr {
        justify-content: center;
        margin-bottom: 16px;
    }
    td {
        padding: 10px 5px;
        margin: 10px;
    }
    .f4f td {
        width: calc(25% - 20px);
    }
    .t3t td {
        width: calc(33% - 20px);
    }
    .t2t td {
        width: calc(50% - 20px);
    }
    tr td:first-child {
        font-size: var(--table-fs);
        min-width: 22%;
    }
    td:not(td:last-child) {
        border-right: 1px solid var(--text-color);
    }
}

