@import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans&display=swap');
/* Reset and base styles  */
* {
    padding: 0;
    margin: 0;
    border: none;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
/* Links */
a:hover  {
    text-decoration: none;
}
/* Common */
aside, nav, footer, header, section, main {
    display: block;
}
h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
    font-weight: inherit;
}
img {
    vertical-align: top;
}
img, svg {
    max-width: 100%;
    display: block;
    height: auto;
    margin: 0 auto;
}
address {
    font-style: normal;
}
button {
    color: inherit;
    background-color: transparent;
}
/*------------------------------*/

:root {
    --link-color: #4BA621;
    --text-color: #262626;
    --bg-color: #F2ECE4;
    --table-bg: #D8D8D8;

    --text-font-weight: 400;

    --normal-fs: 16px;
    --table-fs: 18px;
}
body {
    font-family: "Inclusive Sans", sans-serif;
    font-size: var(--normal-fs);
    font-weight: var(--text-font-weight);
    color: var(--text-color);
    background: var(--bg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    overflow-x: hidden;
}
body > div {
    background: url("../img/bg-mob.png") no-repeat center top;
    background-size: contain;
}
.none-el {
    display: none;
}

/*------------------------------HEADER*/
header {
    width: 100%;
}
header > div {
    width: 100%;
    max-width: 1250px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
header span, footer span {
    position: relative;
    font-size: 18px;
    margin: 30px;
    padding-left: 40px;
 }
header span::before, footer span::before {
    content: url("../svg/logo.svg");
    position: absolute;
    left: 0;
    top: -5px;
}
.wind-modal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.wind-modal div {
    display: flex;
}
.modal {
    width: 56px;
    height: 56px;
    margin: 15px 20px;
    cursor: pointer;
}
.burger {
    background: url("../svg/burger.svg") no-repeat center;
    background-size: contain;
}
.close-burg {
    background: url("../svg/close.svg") no-repeat center;
    position: absolute;
    top: 0;
    right: 0;
}
nav {
    min-width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-size: cover;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 2;
    background:
            url("../img/nav-bg.png") bottom no-repeat,
            var(--bg-color);
    background-size: cover;
}
nav ul {
    display: flex;
    flex-direction: column;
    height: 70vh;
    justify-content: space-evenly;
    list-style: none;
    margin: 100px 20px 20px 20px;
    position: relative;
}
nav li {
    font-size: var(--table-fs);
    line-height: 32px;
    border-radius: 24px;
    padding: 18px 30px;
    margin: 5px 5px 100px 5px;
    cursor: pointer;
    border: 1px solid transparent;
}
nav li:last-child {
    margin-bottom: 5px;
}
nav li:hover {
    background: var(--link-color);
    text-decoration: underline;
    color: var(--bg-color);
}
.user_Log {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}
button {
    border-radius: 27px;
    cursor: pointer;
    padding: 10px 24px;
    border: 1px solid var(--text-color);
}
button:hover {
    color: var(--link-color);
    border-color: var(--link-color);
}
.user_Log {
    margin: 15px;
    padding: 5px;
}
.user_Log button {
    width: 100%;
}
.user_Log button:first-child {
    color: var(--bg-color);
    background: var(--text-color);
    margin-bottom: 10px;
}
.user_Log button:first-child:hover {
    background: var(--link-color);
}

/*------------------------------MAIN*/
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 80px;
}
article {
    width: calc(100% - 30px);
    margin: 0 15px;
    display: flex;
    flex-direction: column;
}
article > figure img {
    border-radius: 16px;
}
.cen {
    text-align: center;
    margin: 30px 0;
}
figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 15px;
}
figure:first-child {
    margin-top: 30px;
    border-radius: 8px;
}
h1, h2, h3 {
    word-break: break-word;
    text-align: start;
    margin-top: 24px;
    margin-bottom: 16px;
}
h1 {
    font-size: 48px;
    line-height: 56px;
}
h2 {
    font-size: 38px;
}
h3 {
    font-size: 32px;
}
main ul, ol {
    text-align: start;
    margin-bottom: 15px;
}
article > ul, ol {
    margin-left: 20px;
}
li {
    padding: 8px;
}
a {
    color: var(--link-color);
}
p {
    font-weight: var(--text-font-weight);
    margin-bottom: 15px;
    line-height: 180%;
    text-align: start;
}

    /*------------------------------TABLES*/
table {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
}
tr {
    flex-wrap: wrap;
    display: flex;
    border-radius: 4px;
    margin-bottom: 8px;
}
tr td:first-child {
    color: var(--link-color);
    font-size: var(--table-fs);
    min-width: 100%;
    text-align: center;
}
tr:nth-child(2n+1) {
    background: var(--table-bg);
}
td {
    position: relative;
    word-wrap: break-word;
    padding: 15px 5px;
    overflow: hidden;
}
.T4fr td {
    width: 33%;
}
.T3fr td {
    width: 50%;
}
.T2fr td {
    width: 100%;
}
.Up_butt {
    display: none;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    font-size: 20px;
    height: 60px;
    width: 60px;
    position: fixed;
    bottom: 85px;
    right: 30px;
    border-radius: 50%;
    background: var(--bg-color);
}
.Up_butt:hover {
    color: var(--bg-color);
    background: var(--link-color);
}

/*------------------------------FOOTER*/
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--bg-color);
    background: var(--text-color);
    padding: 10px;
}
footer p {
    font-size: 12px;
    margin: 10px;
}

@media (min-width: 950px) {
    body > div {
        background: url("../img/bg.png") no-repeat center top;
        background-size: contain;
    }
    .none-el {
        display: flex;
    }

    /*------------------------------HEADER*/
    header {
        display: flex;
        justify-content: center;
        border-bottom: none;
        margin-top: 15px;
    }
    header > div {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .head-block {
        border-bottom: none;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    header span, footer span {
        color: var(--link-color);
        margin: 25px;
        padding-right: 150px;
        width: auto;
    }
    nav {
        min-width: auto;
        background: none;
        position: relative;
        flex-direction: row;
        align-items: center;
    }
    nav > div {
        background: none;
    }
    nav ul {
        height: auto;
        flex-direction: row;
        margin: 0;
        padding: 2px;
    }
    nav li {
        font-weight: var(--text-font-weight);
        color: var(--text-color);
        font-size: var(--normal-fs);
        padding: 5px 25px;
        margin: 0;
        border: none;
    }
    nav li:last-child {
        margin-bottom: 0;
    }
    nav li:hover {
        color: var(--link-color);
        background: none;
        border: none;
    }
    .wind-modal {
        display: none;
        border-bottom: none;
    }
    .close-burg {
        display: none;
    }
    .user_Log {
        flex-direction: row;
        margin: 0;
        padding-right: 20px;
    }
    .user_Log button {
        width: 100%;
    }
    .user_Log button:first-child {
        margin-right: 15px;
        margin-bottom: 0;
    }

    /*------------------------------MAIN*/
    article {
        max-width: 1250px;
        margin: 0 40px;
    }
    article button {
        width: 250px;
    }
    .opp-block {
        width: 100%;
        display: flex;
        align-items: center;
    }
    .opp-block > figure {
        min-width: 27%;
        margin-left: 30px;
    }
    h1 {
        font-size: 90px;
        margin-bottom: 24px;
        margin-top: 40px;
    }

    /*------------------------------TABLES*/
    table {
        font-size: var(--table-fs);
        padding: 0 30px 30px;
    }
    tr {
        justify-content: center;
        padding: 15px 0;
    }
    td {
        padding: 5px;
    }
    .T4fr td {
        width: 25%;
    }
    .T3fr td {
        width: 33%;
    }
    .T2fr td {
        width: 50%;
    }
    tr td:first-child {
        font-size: var(--table-fs);
        min-width: 25%;
    }
    td:not(td:last-child)::after {
        content: " ";
        width: 1px;
        height: 300%;
        background: var(--link-color);
        position: absolute;
        top: -50px;
        right: 1px;
    }

    /*------------------------------FOOTER*/
    footer {
        flex-direction: row;
        justify-content: center;
    }
}

