@import url('https://fonts.googleapis.com/css2?family=Lunasima:wght@400;700&display=swap');
/* Reset and base styles  */
* {
    padding: 0;
    margin: 0;
    border: none;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
/* Links */
a:hover  {
    text-decoration: none;
}
/* Common */
aside, nav, footer, header, section, main {
    display: block;
}
h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
    font-weight: inherit;
}
img {
    vertical-align: top;
}
img, svg {
    max-width: 100%;
    display: block;
    height: auto;
    margin: 0 auto;
}
address {
    font-style: normal;
}
button {
    color: inherit;
    background-color: transparent;
}
/*------------------------------*/

:root {
    --bg-color: #0D0D0D;
    --btn-bg:#3DD47E;
    --text-color: #FFF;
    --footer-bg: #262626;

    --text-font-weight: 400;
    --title-font-weight: 700;

    --normal-fs: 16px;
    --table-fs: 18px;
}
body {
    font-family: 'Lunasima', sans-serif;
    font-size: var(--normal-fs);
    font-weight: var(--text-font-weight);
    color: var(--text-color);
    background: var(--bg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    overflow-x: hidden;
}
.del-ins {
    display: none;
}
body > div {
    background: url("../svg/mob.svg") top center no-repeat;
    background-size: contain;
    background-position-y: 100px;
}

/*------------------------------HEADER*/
header {
    width: 100%;
}
header > div {
    width: 100%;
    max-width: 1150px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
header span, footer span {
    color: var(--btn-bg);
    font-size: 18px;
    margin: 30px;
    position: relative;
    padding-left: 35px;
}
header span::before, footer span::before {
    content: url("../svg/logo.svg");
    position: absolute;
    left: 0;
    top: 0;
}
.mobile-view {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.mobile-view > div {
    border-radius: 10px;
    background: var(--btn-bg);
    padding: 8px;
    margin-right: 15px;
}
.modal-icon {
    width: 40px;
    height: 40px;
    cursor: pointer;
}
.opens {
    background: url("../svg/burger.svg") no-repeat;
    background-size: contain;
}
.closes {
    background: url("../svg/close.svg") no-repeat;
    background-size: contain;
    position: absolute;
    top: 0;
    right: 0;
    margin: 25px;
}
nav {
    min-width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-size: cover;
    width: 100%;
    height: 100%;
    background: var(--bg-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 2;
}
nav::after {
    content: "";
    width: 100%;
    height: 200px;
    background: url("../img/nav.png") no-repeat center top;
    background-size: cover;
    position: absolute;
    bottom: 0;
    z-index: -1;
}
nav ul {
    list-style: none;
    margin: 200px 20px 20px 20px;
    position: relative;
}
nav li {
    font-weight: var(--title-font-weight);
    font-size: var(--table-fs);
    line-height: 32px;
    padding: 15px 30px;
    border-radius: 25px;
    margin: 5px 5px 100px 5px;
    cursor: pointer;
}
nav li:last-child {
    margin-bottom: 5px;
}
nav li:hover {
    text-decoration: underline;
    background: var(--btn-bg);
}
.users-a {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}
button {
    font-weight: var(--title-font-weight);
    border-radius: 30px;
    padding: 10px 24px;
    cursor: pointer;
    background: var(--btn-bg);
    color: var(--bg-color);
    border: 1px solid var(--btn-bg);
}
.users-a {
    margin: 0 15px;
    padding: 5px;
}
.users-a button {
    width: 100%;
}
.users-a button:first-child {
    background: var(--bg-color);
    color: var(--text-color);
    margin-bottom: 10px;
}
nav .users-a {
    margin-bottom: 20px;
}

/*------------------------------MAIN*/
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 80px;
}
article {
    margin: 0 15px;
    display: flex;
    flex-direction: column;
}
figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 15px;
}
article > figure img {
    border-radius: 10px;
}
figure img {
    margin-top: 30px;
    border-radius: 10px;
}
h1, h2, h3 {
    word-break: break-word;
    font-weight: var(--title-font-weight);
    line-height: 130%;
    text-align: start;
    margin-top: 24px;
    margin-bottom: 16px;
}
h1 {
    font-size: 48px;
}
h2 {
    font-size: 38px;
}
h3 {
    font-size: 32px;
}
main ul, ol {
    font-family: 'Roboto', sans-serif;
    text-align: start;
    margin-bottom: 15px;
}
article > ul, ol {
    margin-left: 20px;
}
li {
    padding: 8px;
}
a {
    color: var(--btn-bg);
}
p {
    font-family: 'Roboto', sans-serif;
    font-weight: var(--text-font-weight);
    margin-bottom: 12px;
    line-height: 180%;
    text-align: start;
}
article button {
    background: var(--btn-bg);
    padding: 15px 30px;
    border: none;
    margin: 16px 0;
}

    /*------------------------------TABLES*/
table {
    width: 100%;
    margin: 30px 0;
}
tr {
    flex-wrap: wrap;
    display: flex;
    margin-bottom: 8px;
    border-radius: 30px;
}
tr td:first-child {
    color: var(--btn-bg);
    min-width: 100%;
    text-align: center;
    font-weight: var(--title-font-weight);
    font-size: var(--table-fs);
}
tr:nth-child(2n+1) {
    background: var(--btn-bg);
    border-color: var(--text-color);
}
tr:nth-child(2n+1) td:first-child {
    color: var(--bg-color);
}
td {
    position: relative;
    word-wrap: break-word;
    padding: 15px 5px;
    overflow: hidden;
}
td:first-child {
    font-weight: var(--title-font-weight);
}
.tabFour td {
    width: 33%;
}
.tabTHree td {
    width: 50%;
}
.tabTwo td {
    width: 100%;
}
.b-up {
    display: none;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    font-size: 20px;
    color: #FFFFFF;
    height: 70px;
    width: 70px;
    position: fixed;
    bottom: 85px;
    right: 30px;
    border-radius: 50%;
    background: rgba(94, 93, 88, 0.55);
}
.b-up:hover {
    background: var(--btn-bg);
}

/*------------------------------FOOTER*/
footer {
    padding-top: 20px;
    background: var(--footer-bg);
}
footer p {
    font-size: 12px;
    line-height: 15px;
    padding: 30px 15px;
    text-align: center;
    margin: 0;
}

@media (min-width: 1000px) {
    .del-ins {
        display: flex;
    }
    body > div {
        background: url("../img/background_pic.png") top center no-repeat;
        background-size: contain;
    }

    /*------------------------------HEADER*/
    header {
        display: flex;
        justify-content: center;
        border-bottom: none;
    }
    header button {
        padding: 12px 25px;
    }
    header > div {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .headerWrapper {
        border-bottom: none;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    header span, footer span {
        margin: 25px;
        width: auto;
    }
    nav {
        min-width: auto;
        background: none;
        position: relative;
        flex-direction: row;
        align-items: center;
    }
    nav::after {
        content: none;
    }
    nav .users-a {
        display: none;
    }
    nav > div {
        background: none;
    }
    nav ul {
        display: flex;
        flex-direction: row;
        margin: 0;
        padding: 2px;
    }
    nav li {
        border-radius: 0;
        color: var(--text-color);
        font-weight: var(--text-font-weight);
        font-size: var(--normal-fs);
        padding: 10px 25px;
        margin: 0;
        border-bottom: 1px solid transparent;
    }
    nav li:last-child {
        margin-bottom: 0;
    }
    nav li:hover {
        background: none;
        text-decoration: none;
        border-color: var(--btn-bg);
    }
    .mobile-view {
        display: none;
        border-bottom: none;
    }
    .closes {
        display: none;
    }
    .users-a {
        flex-direction: row;
        margin-bottom: 0;
        margin-right: 20px;
    }
    .users-a button {
        width: 100%;
    }
    .users-a button:first-child {
        margin-right: 5px;
        margin-bottom: 0;
    }

    /*------------------------------MAIN*/
    article {
        max-width: 1150px;
        margin: 0 40px;
    }
    h1 {
        font-size: 72px;
        margin-bottom: 24px;
        margin-top: 40px;
    }
    .undivided {
        display: flex;
        align-items: center;
    }
    .undivided figure {
        min-width: 300px;
        width: auto;
    }
    .undivided > div {
        display: flex;
        flex-direction: column;
        align-items: start;
        width: 70%;
        margin: 0 30px;
    }
    .mob-t {
        display: none;
    }

    /*------------------------------TABLES*/
    table {
        margin: 50px 0;
        padding: 0 30px 30px;
    }
    tr {
        justify-content: center;
        margin-bottom: 16px;
        border-bottom: none;
    }
    td {
        padding: 10px 5px;
        margin: 10px;
    }
    .tabFour td {
        width: calc(25% - 20px);
    }
    .tabTHree td {
        width: calc(33% - 20px);
    }
    .tabTwo td {
        width: calc(50% - 20px);
    }
    tr td:first-child {
        font-size: var(--table-fs);
        min-width: 22%;
    }
    td:not(td:last-child) {
        border-right: 1px solid var(--text-color);
    }
    tr:nth-child(2n+2) td:not(td:last-child) {
        border-color: var(--btn-bg);
    }
}

