@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
/* Reset and base styles  */
* {
    padding: 0;
    margin: 0;
    border: none;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
/* Links */
a:hover  {
    text-decoration: none;
}
/* Common */
aside, nav, footer, header, section, main {
    display: block;
}
h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
    font-weight: inherit;
}
img, svg {
    max-width: 100%;
    display: block;
    height: auto;
    margin: 0 auto;
}
address {
    font-style: normal;
}
button {
    color: inherit;
    background-color: transparent;
}
/*------------------------------*/

:root {
    --text-color: #676C7B;
    --title-color: #09153D;
    --btn: #EE1C47;
    --header-li-hov: #FFE1E8;
    --background-color: #FFF;
    --nav-bg: #FFEFF1;

    --text-font-weight: 400;
    --title-font-weight: 700;
    --header-font-weight: 600;

    --mob-text-fs: 16px;
    --table-fs: 18px;
}
body {
    color: var(--text-color);
    font-family: "Inter", sans-serif;
    font-weight: var(--text-font-weight);
    font-size: var(--mob-text-fs);
    background: var(--background-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}
button {
    font-size: 12px;
    color: var(--background-color);
    background: var(--btn);
    text-transform: uppercase;
    border-radius: 12px;
    padding: 12px 16px;
    cursor: pointer;
}

/*------------------------------HEADER*/
header {
    font-weight: var(--header-font-weight);
    font-size: 12px;
    color: var(--title-color);
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 5;
    background: url("../img/bg1.png") center no-repeat;
    background-size: cover;
}
header > div {
    max-width: 1500px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header span {
    color: var(--btn);
    font-size: 20px;
    position: relative;
    margin-left: 50px;
    text-transform: uppercase;
}
header span::before {
    content: url("../svg/logo.svg");
    position: absolute;
    left: -30px;
    top: 0;
}
.h-er {
    display: flex;
    margin: 20px;
    align-items: center;
}
.ic-item1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33px;
    height: 33px;
}
.svg1, .close {
    display: block;
    width: 25px;
    height: 25px;
    margin: 5px;
    cursor: pointer;
    background: url("../svg/burger.svg") no-repeat center;
    background-size: contain;
}
.close {
    background: url("../svg/close.svg") no-repeat center;
    background-size: contain;
}
nav {
    display: flex;
    flex-direction: column;
    position: fixed;
    background: var(--nav-bg);
    top: 77px;
    right: 0;
    width: 100%;
    height: 290px;
    z-index: 5;
    align-items: center;
    overflow: hidden;
}
nav ul {
    width: 100%;
    display: flex;
    list-style: none;
    margin-top: 50px;
    flex-direction: column;
    align-items: center;
}
nav li {
    width: 100%;
    padding: 15px 30px;
    cursor: pointer;
    text-align: center;
}
nav li:hover {
    background: var(--header-li-hov);
    color: var(--btn);
}
header button {
    margin-right: 20px;
}

/*------------------------------MAIN*/
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 78px;
}
.main-blur {
    background: rgba(0, 0, 0, 0.50);
    filter: blur(1px);
    z-index: -1;
}
article {
    display: flex;
    flex-direction: column;
    align-items: center;
}
article button {
    margin-top: 20px;
}
article > div {
    width: 100%;
}
.bg-first, .center, .simple-bg {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}
.center {
    width: 100%;
}
.center > p, .center > h2 {
    text-align: center;
}
.ban img {
    border-radius: 150px;
}
.bg-first > div, .simple-bg > div {
    width: calc(100% - 30px);
    max-width: 1500px;
    padding: 40px 15px;
}
.bg-first > div > div {
    padding: 15px;
    margin-bottom: 30px;
}
.dec-l, .dec-r, .img-dec figure, .top_poster > div > div {
    position: relative;
    z-index: 2;
}
.dec-r::after {
    content: url("../svg/rightdec.svg");
    position: absolute;
    right: 0;
    z-index: -1;
}
.dec-l::after {
    content: url("../svg/leftdec.svg");
    position: absolute;
    left: 0;
    z-index: -1;
}
.bottom::after {
    bottom: -200px;
}
.top::after {
    top: 0;
}
.img-dec figure::after {
    content: "";
    z-index: -1;
    position: absolute;
    top: 60px;
    left: calc((100% - 550px)/2);
    width: 550px;
    height: 450px;
    background: url("../img/dec-banner.png") center no-repeat;
    background-size: contain;
}
.simple-bg .img-dec figure::after {
    top: 30px;
    height: 600px;
    background: url("../img/dec-img.png") bottom no-repeat;
}
.top_poster > div > div::after, .top_poster figure::before,
ol::after, main ul::after {
    content: url("../svg/star.svg");
    position: absolute;
    right: 25%;
    top: 0;
    z-index: -1;
}
.top_poster figure::before {
    content: none;
    top: 80%;
    right: 0;
}
.items-cards {
    width: 100%;
}
.items-cards > div {
    width: 100%;
    padding: 20px;
    margin: 15px 0;
    box-shadow: 0 10px 70px 0 rgba(2, 13, 46, 0.04);
}
.bg-first {
    background: url("../img/bg1.png") no-repeat bottom;
    background-size: cover;
}
.bg-first > figure {
    padding: 40px 0;
}
.bg-first h2 {
    color: var(--title-color);
}
.line-img, footer {
    width: 100vw;
    height: 300px;
    background: url("../img/banne2.jpg") no-repeat center;
    background-size: cover;
}
figure {
    z-index: 2;
}
img {
    border-radius: 16px;
}
h1, h2, h3 {
    color: var(--title-color);
    font-weight: var(--title-font-weight);
    line-height: 125%;
    text-align: start;
    margin-top: 35px;
    margin-bottom: 20px;
}
h1 {
    font-size: 42px;
}
h1 span {
    text-transform: uppercase;
}
h2 {
    min-width: 100%;
    margin-bottom: 70px;
    font-size: 32px;
    position: relative;
}
h2::after {
    content: url("../svg/dec-title.svg");
    position: absolute;
    left: 0;
    bottom: -50px;
}
.bg-first h2::after {
    content: url("../svg/dec-title2.svg");
}
.center h2::after {
    left: calc((100% - 420px)/2);
}
.star h2::before, .bg-first:not(.center)::before {
    content: url("../svg/star.svg");
    position: absolute;
    right: 20%;
    top: -10px;
    z-index: -1;
}
.bg-first:not(.center)::before {
    right: 10%;
    top: 25%;
}
h3 {
    font-size: 24px;
    margin-top: 0;
}
main ul, ol {
    position: relative;
    text-align: start;
    margin: 40px 0 40px 15px;
}
ol::after {
    top: -30%;
    right: 210%;
}
main ul::after {
    top: 50%;
    right: 0;
}
li {
    padding: 3px 3px 3px 5px;
}
p {
    margin-bottom: 25px;
    text-align: start;
    line-height: 150%;
}

/*------------------------------TABLES*/
table {
    font-size: var(--table-fs);
    color: var(--title-color);
    width: 100%;
    margin: 40px auto 0;
}
tbody {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-collapse: collapse;
    border-radius: 10px;
    border: 1px solid var(--btn);
}
tr:first-child {
    border-radius: 10px 10px 0 0;
}
tr:first-child td:first-child {
    border-radius: 10px 10px 0 0;
}
tr:last-child {
    border-radius: 0 0 10px 10px;
}
tr {
    flex-wrap: wrap;
    display: flex;
    background: var(--background-color);
}
td {
    width: 100%;
    padding: 10px;
}
td:not(tr:last-child td){
    border-bottom: 1px solid var(--btn);
}
td:first-child {
    color: var(--background-color);
    background: var(--btn);
}
.button-up {
    font-size: 20px;
    display: none;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 60px;
    position: fixed;
    bottom: 70px;
    right: 20px;
    cursor: pointer;
    z-index: 3;
    border-radius: 50%;
    padding: 0;
    background: var(--btn);
}
.none1 {
    display: none;
}

/*------------------------------FOOTER*/
footer {
    height: auto;
}
footer p {
    color: var(--background-color);
    font-size: 12px;
    margin: 25px 15px;
    text-align: center;
}

@media (min-width: 1150px) {

    .none1 {
        display: flex;
        align-items: center;
    }
    button {
        padding: 16px 35px;
    }

    /*------------------------------HEADER*/
     .ic-item1 {
        display: none;
     }
     nav {
         height: auto;
         width: auto;
         position: relative;
         background: none;
         flex-direction: row;
         padding: 0;
         top: 0;
     }
     nav, nav > div, nav > div > div {
         background: none !important;
     }
     nav ul {
         flex-direction: row;
         margin: 0;
     }
    nav li {
        padding: 10px 20px;
        width: auto;
        margin-bottom: 0;
        border-radius: 20px;
    }
     nav span {
         display: none;
     }
    .h-er {
        width: 100%;
        justify-content: space-between;
    }
    .phon {
        display: none;
    }

    /*------------------------------MAIN*/
    main {
        padding-top: 85px;
    }
    .top_poster > div {
        display: flex;
        flex-direction: row;
        overflow: hidden;
        align-items: center;
        justify-content: space-between;
        padding: 30px 0;
    }
    .top_poster > div > div {
        width: 60%;
        margin: 40px 70px;
    }
    .top_poster figure, .sect figure {
        width: 40%;
    }
    .top_poster figure::before {
        content: url("../svg/star.svg");
    }
    .top_poster p {
        width: 70%;
    }
    .sect > div {
        width: 60%;
        padding-left: 40px;
    }
    .sect {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        margin-bottom: 20px;
    }
    h1 {
        width: 65%;
        font-size: 60px;
    }
    h2 {
        font-size: 48px;
    }
    .items-cards {
        display: flex;
        justify-content: center;
    }
    .items-cards > div {
        width: calc((100% - 20px)/2);
    }
    .items-cards > div:last-child {
        margin-left: 20px;
    }

    /*------------------------------TABLES*/

    td:first-child {
        width: 30%;
    }
    td:first-child:not(tr:last-child td:first-child) {
        border-bottom: 2px solid var(--background-color);
    }
    td:last-child {
        width: 70%;
    }
    tr:first-child td:first-child {
        border-radius: 10px 0 0 0;
    }
    tr:last-child td:first-child {
        border-radius: 0 0 0 10px;
    }
}

